/* ページ内共通  */
h2:not(.enthusiasm__content-heading) {
  background-color: var(--main-color);
  border-radius: 30px;
  color: #fff;
  margin: 20px auto 10px; 
  width: 250px;
}

/* ---------------------------------------------------------------- */


.about__title span {
  color: green;
  font-weight: 600;
}

.about__button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  /* min-width: 850px; */
  max-width: 1100px;
}



.about__button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 90px;
  color: #fff;
  font-size: 32px;
  height: 140px;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all .3s ease;
  width: 140px;
}

.about__button:hover {
  background-color: #fff;
}



.about__button p {
  padding-top: 36px;
}

.about__button a {
  border-radius: 90px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.about__button:hover p {
  color: var(--main-color);
}

.profile__table {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 500px; /* 仮設定 */
}

@media screen and (max-width: 767px) {
  .profile__table {
    width: 100%;
    margin-bottom: 3.911342894393742vw; /* 要修正 */
  }
}

@media screen and (max-width: 420px) {
  .profile__table {
    margin-bottom: 7.142857142857142vw; /* 要修正 */
  }
}

.profile__table-row {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
  /* height: 50px; */
  /* padding-bottom: 10px; */
}

@media screen and (max-width: 767px) {
  .profile__table-row {
    flex-direction: column;
    height: auto;
  }
}


.profile__table .profile__table-row:last-of-type {
  border-bottom: 2px solid #000;
}

.profile__table-row dt /* 項目名 */ {
  display: block;
  font-size: 18px;
  padding-top: 8px;
  width: 120px; /* 仮 下記widthと対になる */
}

@media screen and (max-width: 767px) {
  .profile__table-row dt {
    font-size: 16px;
  }
}

/* @media screen and (max-width: 420px) {
  .profile__table-row dt {
    font-size: 3.8095238095238098vw;
  }
} */

.profile__table-row dd /* 内容 */ {
  font-size: 18px;
  padding-top: 8px;
  width: calc(100% - 150px); /* 仮 上記widthと対になる*/
  word-break: break-word;
}

@media screen and (max-width: 767px) {
  .profile__table-row dd {
    font-size: 16px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .profile__table-row dd {
    /* font-size: 3.8095238095238098vw; */
  }
}

/* ---------------------------------------------------------- */










.career {

}




.career__view {
  /* PC表示時は横方向表示、スクロールバー表示 */
  /* SP表示時は縦方向で表示されるできるように */
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%; /* これでいい? */
  margin: 0 auto;
}

  .career__view {
    height: initial;
    overflow-x: visible;
  }

@media screen and (max-width: 767px) {
  .career__view {

  }
}

  


.career__view-content { /* 年表内年＋出来事の組合せ */
  align-items: center;
  border-bottom: 1px dotted var(--main-color);
  display: flex;
  height: 140px;
  margin: 7px 0;
  padding-bottom: 14px;
  flex-direction: row;
}

.career__view-content:last-of-type {
  border-bottom: initial;
}

@media screen and (max-width: 767px) {
  .career__view-content {
    border-bottom: none;
    flex-direction: column;
    height: initial;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 0;
  }

  .career__view-content:first-of-type {
    margin-top: 0;
  }

  .career__view-content:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .career__view-content {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.career__view-year {
  background-color: var(--main-color);
  border-radius: 10px;
  color: #fff;
  height: 100%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .career__view-year {
    height: 45px;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 420px) {
  .career__view-year {
    height: 45px;
  }
}

.career__view-year-number {
  font-size: 20px;
  font-weight: 700;
  padding-top: 50px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .career__view-year-number {
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 3px;
    text-align: left;
  }
}

@media screen and (max-width: 420px) {
  .career__view-year-number {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.career__view-event {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  /* height: 50px; */
  margin-left: 8px;
  margin-right: 8px;
  padding-top: 0px;
  text-orientation: mixed;
  vertical-align: middle;
  width: 230px;
}

@media screen and (max-width: 767px) {
  .career__view-event {
    font-size: 16px;
    margin-top: 4px;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 420px) {
  .career__view-event {
    font-size: 16px;
    margin-top: 4px;
  }
}

.career__view-detail {
  font-size: 18px;
  margin-right: auto;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .career__view-detail {
    font-size: 16px;
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 420px){
  .career__view-detail {
    font-size: 14px;
  }
}


.enthusiasm {
  
}

.enthusiasm .inner {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .enthusiasm .inner {
    flex-direction: column;
  }
}




.enthusiasm__content {
  border: 1px solid black;
  border-radius: 15px;
  margin: 25px;
  /* padding: 15px; */
  padding: clamp(0.5rem, 2vw, 1rem);
  width: calc(50% - 50px);
}

@media screen and (max-width: 767px) {
  .enthusiasm__content {
    margin: 10px 0;
    padding: 10px 20px 15px;
    width: calc(100% - 40px);
  }
}

.enthusiasm__content-heading {
  font-size: 26px;
  text-align: left;
}

.enthusiasm__content-heading-emphasize {
  background: linear-gradient(transparent 60%, #c9dee0 40%);
}

.enthusiasm__content p {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .enthusiasm__content p {
    font-size: 14px; /* 16 要修正 */
  }
}

/* @media screen and (max-width: 420px) {
  .enthusiasm__content p {
    font-size: 3.8095238095238098vw; 
  }
} */

.technique {
  padding-top: 20px;
  padding-bottom: 45px;
}


.technique__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .technique__wrapper {
    flex-direction: column;
  }
}

.technique__content {
  border: 1px solid #999;
  border-radius: 15px;
  /* height: 200px; */
  height: auto;
  margin-top: 20px;
  width: calc(50% - 70px);
}

.technique__content:nth-of-type(2n-1) {
  margin-left: auto;
}

.technique__content:nth-of-type(2n) {
  margin-left: 10px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .technique__content {
    margin-left: auto;
    margin-right: auto;
    width: calc(100%);
  }

  .technique__content:nth-of-type(2n) {
    margin-left: auto;
    margin-right: auto;
  }
}
 
.technique__content-headline {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* margin-bottom: 15px; */
}



.technique__content-headline-icon {
  background-color: #b74ab0;
  background-color: var(--tech-icon-bc);
  border: 2px solid var(--tech-icon-bd);
  border-radius: 20%;
  color: var(--tech-icon-c);
  height: 55px;
  margin: 0 20px;
  padding-top: 1px;
  text-align: center;
  width: 55px;
}

@media screen and (max-width: 767px) {
  .technique__content-headline-icon {
    margin-left: 10px !important;
  }
}

.technique__content-headline-icon:first-of-type {
  margin-left: auto;
}

.technique__content-headline p /* 見出しテキスト */{
  font-size: 22px;
  font-weight: 700;
  margin-top: 8px;
  margin-right: auto;
}

.technique__content-headline-icon p /* アイコン内テキスト */ {
  font-size: 30px;
  font-weight: 600;
  margin-top: -3px;
  margin-right: auto;
}

.technique__content ul li:last-of-type {
  margin-bottom: 10px;
}
