/* about特有のスタイル */
.test /* テスト用・削除予定*/ {
  /* background-color: #000; */
  display: flex;
  margin: 0 auto;
  height: 200px;
  overflow-x: auto;
  width: 800px;
}

.test-a {
  border: 2px solid #000;
  min-height: 100px;
  min-width: 100px;
}

/* ---------------------------------------------------------------- */
/* .about__title {
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
} */

.about__title span {
  color: green;
  font-weight: 600;
}

.about__button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
  /* min-width: 850px; */
  max-width: 1100px;
}



.about__button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 90px;
  color: #fff;
  font-size: 32px;
  height: 140px;
  margin: auto;
  position: relative;
  text-align: center;
  transition: all .3s ease;
  width: 140px;
}

.about__button:hover {
  background-color: #fff;
}



.about__button p {
  padding-top: 36px;
}

.about__button a {
  border-radius: 90px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.about__button:hover p {
  color: var(--main-color);
}

.profile__table {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 500px; /* 仮設定 */
}

@media screen and (max-width: 767px) {
  .profile__table {
    width: 100%;
    margin-bottom: 3.911342894393742vw;
  }
}

@media screen and (max-width: 420px) {
  .profile__table {
    margin-bottom: 7.142857142857142vw;
  }
}

.profile__table-row {
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: row;
}


.profile__table .profile__table-row:last-of-type {
  border-bottom: 2px solid #000;
}

.profile__table-row dt /* 項目名 */ {
  font-size: 18px;
  width: 120px; /* 仮 下記widthと対になる */
}

@media screen and (max-width: 767px) {
  .profile__table-row dt {
    font-size: 2.0860495436766624vw; /* 16px */
  }
}

@media screen and (max-width: 420px) {
  .profile__table-row dt {
    font-size: 3.8095238095238098vw; /* 16px */
  }
}

.profile__table-row dd /* 内容 */ {
  font-size: 18px;
  width: calc(100% - 150px); /* 仮 上記widthと対になる*/
  word-break: break-word;
}

@media screen and (max-width: 767px) {
  .profile__table-row dd {
    font-size: 2.0860495436766624vw; /* 16px */
  }
}

@media screen and (max-width: 420px) {
  .profile__table-row dd {
    font-size: 3.8095238095238098vw; /* 16px */
  }
}

/* ---------------------------------------------------------- */










.career {

}




.career__view {
  /* PC表示時は横方向表示、スクロールバー表示 */
  /* SP表示時は縦方向で表示されるできるように */
  display: flex;
  flex-direction: column;
  width: 100%; /* これでいい? */
  margin: 0 auto;
}

  .career__view {
    height: initial;
    overflow-x: visible;
  }


.career__view-content { /* 年表内年＋出来事の組合せ */
  align-items: center;
  display: flex;
  height: 140px;
  margin: 7px 10px;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .career__view-content {
    flex-direction: column;
    height: initial;
    margin-top: 1.955671447196871vw; /* 15px */
    margin-bottom: 1.955671447196871vw; /* 15px */
  }

  .career__view-content:first-of-type {
    margin-top: 0;
  }

  .career__view-content:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 420px) {
  .career__view-content {
    margin-top: 3.571428571428571vw; /* 15px */
    margin-bottom: 3.571428571428571vw; /* 15px */
  }
}

.career__view-year {
  background-color: var(--main-color);
  border-radius: 10px;
  color: #fff;
  height: 100%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .career__view-year {
    height: 6.51890482398957vw;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 420px) {
  .career__view-year {
    height: 11.904761904761903vw;
  }
}

.career__view-year-number {
  font-size: 20px;
  font-weight: 700;
  padding-top: 48px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .career__view-year-number {
    font-size: 2.346805736636245vw; /* 18px */
    padding-top: 0.8215123859191656vw; /* 4 */
    padding-bottom: 0.3911342894393742vw; /* 3 */
    text-align: left;
  }
}

@media screen and (max-width: 420px) {
  .career__view-year-number {
    font-size: 4.285714285714286vw;
    padding-top: 1.2523809523809524vw;
    padding-bottom: 0.7142857142857143vw;
  }
}

.career__view-event {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  /* height: 50px; */
  margin-left: 8px;
  margin-right: 8px;
  
  padding-top: 3px;
  text-orientation: mixed;
  vertical-align: middle;
  width: 230px;
}

@media screen and (max-width: 767px) {
  .career__view-event {
    font-size: 2.0860495436766624vw; /* 16px */
    margin-top: 0.5215123859191656vw; /* 4 */
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 420px) {
  .career__view-event {
    font-size: 3.8095238095238098vw;
    margin-top: 0.9523809523809524vw; /* 4 */
  }
}

.career__view-detail {
  font-size: 18px;
  margin-right: auto;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .career__view-detail {
    font-size: 2.0860495436766624vw; /* 16px */
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 420px){
  .career__view-detail {
    font-size: 3.8095238095238098vw;
  }
}

.enthusiasm {
  
}

.enthusiasm p {
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  .enthusiasm p {
    font-size: 2.0860495436766624vw; /* 16 */
  }
}

@media screen and (max-width: 420px) {
  .enthusiasm p {
    font-size: 3.8095238095238098vw; /* 16 */
  }
}

.photo {

}

.photo__content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.photo__content:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .photo__content {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .photo__content:nth-of-type(2n) {
  flex-direction: column;
  }

  .photo__content:last-of-type {
    margin-bottom: 0;
  }
}



.photo__content-img {
  background-color: #000;
  height: 300px;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .photo__content-img {
    height: 31.290743155149936vw; /* 240 */
    margin: 0 auto;
    width: 41.720990873533246vw; /* 320 */
  }
}

@media screen and (max-width: 420px) {
  .photo__content-img {
    height: 57.14285714285714vw;
    width: 76.19047619047619vw;
  }
}

.photo__content-caption {
  font-size: 16px;
  margin: 25px;
  width: calc(100% - 490px);
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .photo__content-caption {
    font-size: 1.8252933507170794vw; /* 14 */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .photo__content-caption {
    font-size: 3.3333333333333335vw; /* 14 */
  }
}

