@charset "utf-8";

* {
  /* 寸法など */
  margin: 0;

  /* フォント設定 */
  font-family: "kozuka-gothic-pro", sans-serif;
  /* font-weight: 400; */
  font-style: normal;
}

:root {
  /* カラー */
  --page-color1: #fff; /* 仮 要修正 */
  --page-color2: #fff;
}

/* 概要 -------------------------------------------------------- */
/* .overview__title {

} */

/* @media screen and (max-width: 767px) {
  .overview__title {
    flex-direction: column;
  }
} */

.overview__title-number {
  font-family: "kozuka-gothic-pro", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: -10px;
  padding-bottom: 2px;
  position: relative;
  text-align: center;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .overview__title-number {
    font-size: 7.822685788787484vw; /* 767基準 60px */
    padding-bottom: 0.3911342894393742vw; /* 767基準 3px */
  }
}

@media screen and (max-width: 420px) {
  .overview__title-number {
    font-size: 11.428571428571429vw; 
    /* 420基準 48px */
    font-size: 48px;
    padding-bottom: 0.7142857142857143vw; /* 420基準 3px */
  }
}

.overview__title-number:before {
  content: "Work";
  display: block;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .overview__title-number:before {
    text-align: center;
    top: -1.3vw;
    font-size: 2.5860495436766624vw;
  }
}

@media screen and (max-width: 420px) {
  .overview__title-number:before {
    text-align: center;
    top: -2.3vw;
    font-size: 5.0860495436766624vw;
  }
}

.overview__title-text {
  border-top-style: solid;
  border-top-width: 10px;
  font-weight: 500;
  font-size: 40px;
  height: 100%;
  line-height: 1.4;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  width: 700px;
}

@media screen and (max-width: 767px) {
  .overview__title-text {
    border-top-width: 5px;
    font-size: 3.389830508474576vw; /* 767基準 26px */
    padding-top: 1.955671447196871vw;
    padding-left: auto;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .overview__title-text {
    font-size: 6.190476190476191vw; /* 420基準 26px */
    padding-top: 3.571428571428571vw;
  }
}

.overview__title-text-en {
  font-family: "kozuka-gothic-pro", sans-serif;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .overview__title-text-en {
    font-size: 2.346805736636245vw; /* 18px */
  }
}

@media screen and (max-width: 420px) {
  .overview__title-text-en {
    font-size: 4.285714285714286vw; /* 18px */
  }
}

.overview__button {
  background-color: #fff;
  border: 2px solid #223a70;
  border-radius: 20px;
  font-size: 16px;
  height: 60px;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  top: 0;
  transition: all .3s ease;
  width: 180px;
}

@media screen and (max-width: 767px) {
  .overview__button {
    border-radius: 10px;
    font-size: 1.8252933507170794vw; /* 14 */
    height: 5.867014341590613vw;
    width: 20.208604954367665vw;
  }
}

@media screen and (max-width: 420px) {
  .overview__button {
    border-radius: 10px;
    font-size: 3.3333333333333335vw /* 14 */;
    height: 10.714285714285714vw; /* 45 */
    width: 36.904761904761905vw; /* 155 */
  }
}

.overview__button:hover {
  background-color: #223a70;
}

@media (hover: none) {
  .overview__button:hover {
    background-color: initial;
  }
}

.overview__button a /* 該当ページへのリンク */{
  color: #223a70;
  display: block;
  height: 100%;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
}

.overview__button:hover a {
  color: #fff;
}

@media (hover: none) {
  .overview__button:hover a{
    color: initial;
  }
}


.overview__button a p {
  font-size: 16px;
  padding-top: 16px;
}

@media screen and (max-width: 767px) {
  .overview__button a p {
    padding-top: 0.847457627118644vw; /* 6.5 */
  }
}

@media screen and (max-width: 420px) {
  .overview__button a p {
    padding-top: 1.5476190476190477vw;
  }
}

/* スクリーンショット ------------------------------------------- */
.screenshot {
  margin: 0 auto;
}

.screenshot__pc, .screenshot__sp /* プルラウンメニュー */ {
  height: auto;
  margin: 10px auto;
  transition: .3s all ease;
  width: calc(100% - 40px); /* 仮 */
}

@media screen and (max-width: 768px) {
  .screenshot__pc, .screenshot__sp {
    margin: 1.3020833333333335vw;
    width: calc(100% - 20px);
  }
}

@media screen and (max-width: 420px) {
  .screenshot__pc, .screenshot__sp {
    
  }
}

.screenshot__pc summary, .screenshot__sp summary /* プルダウンメニュー */{
  background-color: #223a70;
  border-radius: 40px;
  color: #fff;
  font-size: 16px;
  height: 50px;
  padding-top: 16px;
  padding-left: 30px;
  transition: .3s all ease;
}

@media screen and (max-width: 768px) {
  .screenshot__pc summary, .screenshot__sp summary {
    font-size: 16px;
    height: 6.510416666666667vw;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 3.90625vw; /* 30 */
  }
}

@media screen and (max-width: 420px) {
  .screenshot__pc summary, .screenshot__sp summary {
    font-size: 3.8095238095238098vw; /* 16 */
    padding-top: 1.3809523809524vw;
  }
}

.screenshot__pc summary::marker, .screenshot__sp summary::marker {
  transition: all .3s ease;
}

.screenshot__icon {
  margin-top: 0px;
  margin-left: 5px;
  height: 40px;
  width: 40px;  
}

.screenshot__pc summary span, .screenshot__sp summary span {
  margin-left: 15px;
}

@media screen and (max-width: 768px) {
  .screenshot__pc summary span, .screenshot__sp summary span {
    margin-left: 1.953125vw; /* 15 */
  }
}

.screenshot__pc-img {
  border: 1px solid #444;
  display: block;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  transition: all .3s ease;
  width: 90%;
}

.screenshot__sp-img {
  border: 1px solid #444;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  transition: all .3s ease;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .screenshot__pc-img, .screenshot__sp-img {
    width: 90%;
  }
}

.show {
  display: inline;
}

/* 説明 -------------------------------------------------------- */
.explanation {
  margin-top: 35px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .explanation {
    padding-bottom: 6.51890482398957vw; /* 要修正？ */
  }
}

.explanation .inner {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .explanation .inner {
    flex-direction: column;
  }
}




.explanation__table {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .explanation__table {
    margin-bottom: 6.51890482398957vw;
    width: 100%;
  }
}

.explanation__table-row {
  border-top: 1px dotted #555;
  border-bottom: 1px dotted #555;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

.explanation__table-row:first-of-type {
  border-top: none;
}

.explanation__table-row:last-of-type {
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .explanation__table-row {
    /* padding: 1.303780964797914vw 0; */
    border-top: none;
    border-bottom: none;
    flex-direction: column;
    width: calc(100% - 10px);
  }
}


.explanation__table-item {
  background-color: #5b5b5b;
  color: #fff;
  font-size: 16px;
  min-width: 140px;
  overflow-wrap: break-word;
  padding: 10px;
  padding-top: 6px;
  white-space: normal;
  word-break: break-word;
  width: 40%;
}

@media screen and (max-width: 767px) {
  .explanation__table-item {
    /* ↓ 仮 */
    /* height: 2.3vw;  */
    height: 20px;
    min-width: initial;
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 420px) {
  .explanation__table-item {
    font-size: 3.8095238095238098vw; /* 420基準 16px */
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 767px) {
  .explanation__table-item p {
    line-height: 16px;
    padding-top: 0.65vw;
  }
}

@media screen and (max-width: 420px) {
  .explanation__table-item p {
    font-size: 2.0860495436766624vw; /* 767基準 16px */
    padding-top: 5px;
  }
}

.explanation__table-content {
  font-size: 16px;
  padding: 10px;
  width: 60%;
}

@media screen and (max-width: 767px) {
  .explanation__table-content {
    font-size: 16px;
    padding-left: 0px;
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .explanation__table-content {
    font-size: 3.8095238095238098vw; /* 420基準 16px */
    width: 100%;
  }
}

.explanation__table-content p {
  overflow-wrap: break-word;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .explanation__table-content p {
    text-align: left;
    margin-left: 10px;
  }
}

.explanation__sentence-block {
  padding-left: 30px;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .explanation__sentence-block {
    padding: 2.0860495436766624vw; /* 767基準 16px */
    width: calc(100% - 3.911342894393742vw);
  }
}

.explanation__sentence-text {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .explanation__sentence-text {
    font-size: 2.0860495436766624vw; /* 767基準 16px */
  }
}

@media screen and (max-width: 420px) {
  .explanation__sentence-text {
    font-size: 3.8095238095238098vw; /* 420基準 16px */
  }
}

/* works (作品一覧）------------------------------------------------------------------- */
/* 一覧ページ、各作品説明ページ共通 */

.works__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1120px;
}

@media screen and (max-width: 767px) {
  .works__wrapper {
    width: 100%;
  }
}



.works__unit {
  background-color: #eee;
  border: 1.5px solid #223a70;
  border-radius: 15px;
  display: inline;
  height: auto;
  /* height: 200px;  */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 30px; */
  position: relative;
  transition: all .3s ease;
  width: 330px;
  z-index:100;
}

@media screen and (max-width: 767px) {
  .works__unit {
    margin-top: 3.911342894393742vw;
    margin-bottom: 3.911342894393742vw;
    /* height: 39.158355091383815vw; */
    height: auto;
    width: 43.02477183833116vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit {
    /* height: 75vw; */
    height: auto;
    width: 100vw;
  }
}

.works__unit:hover {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.works__unit::before {
  background-color: #223a70;
  border: 2px solid #fff;
  border-radius: 50%;
  content: var(--works-number, "0");
  color: #fff;
  font-size: 40px;
  height: 80px; /* 仮 */
  left: -15px; /* 仮 */
  position: absolute;
  top: -15px; /* 仮 */
  width: 80px; /* 仮 */
  text-align: center;
  transition: all .3s ease;
}

.works__unit:hover::before {
  background-color: #fff;
  border-color: #223a70;
  color: #223a70;
}

@media screen and (max-width: 767px) {
  .works__unit::before {
    font-size: 5.215123859191656vw;
    height: 10.430247718383312vw;
    left: -1.955671447196871vw;
    width: 10.430247718383312vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit::before {
    font-size: 8.163048016701461vw;
    height: 16.701461377870565vw;
    left: -1.1315240083507305vw;
    width: 16.701461377870565vw;
  }
}

.works__unit-number /* 各Workに振る数字 */ {
  font-family: "kozuka-gothic-pro", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: 60px;
  margin-top: -10px;
  margin-bottom: 6px;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .works__unit-number {
    font-size: 5.221932114882506vw;
    height: 7.83289817232376vw;
    margin-top: -1.3054830287206265vw;
    margin-bottom: 0.7832898172323759vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit-number {
    font-size: 8.350730688935283vw;
  }
}


.works__unit a /* 各サイトの説明ぺージへのリンク */{
  color: #000;
  display: block;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px;
  text-decoration: none;
  top: -40px;
  width: calc(100% - 30px);
}

@media screen and (max-width: 767px) {
  .works__unit a {
    padding: 1.955671447196871vw;
    top: -5.221932114882506vw;
  }
}

.works__unit-img /* 各ページのサムネ */{
  background-color: #000;
  background-position: top center;
  background-size: cover;
  border-radius: 10px;
  display: block;
  height: 180px;
  margin-left: 0;
  margin-right: 0;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .works__unit-img {
    height: 23.46805736636245vw;
    width: 39.113428943937414vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit-img {
    height: 55.11482254697286vw; /* 264 */
    width: 92.69311064718163vw; /* 440 */
  }
} 

.works__unit-img-content {
  background-color: rgba(255, 255, 255, 0.8);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000;
  height: 90px;
  padding: 10px;
  position: relative;
  right: 0;
  top: 170px;   
  width: 180px;
}

.works__unit-img-content span {
  white-space: nowrap;
  margin-left: -3px;
}

.works__unit p /* 各ページのタイトル */ {
  display: block;
}

.works__unit-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .works__unit-title {
    font-size: 2.088772845953003vw;
    margin-top: 2.607561929595828vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit-title {
    font-size: 3.3402922755741122vw;
    margin-top: 4.175365344467641vw;
  }
}

.works__unit-date {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .works__unit-date {
    font-size: 1.8252933507170794vw;
  }
}

@media screen and (max-width: 479px) {
  .works__unit-date {
    font-size: 2.9227557411273484vw;
  }
}

/* ---------------------------------------- */
.other /* 各作品紹介ページで他作品紹介に飛ぶ */ {
  background-color: #000; /* 仮設定 */
  color: #fff;
  margin-top: 20px;
  /* margin-bottom: 20px; */
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .other {
    margin-top: 2.607561929595828vw;
    padding-top: 1.955671447196871vw;
    padding-bottom: 1.955671447196871vw;
  }
}

.other__wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .other__wrapper {
    flex-direction: column;
  }
}

.other__previous /* 前作品を表す */{
  border-radius: 20px;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: all .3s ease;
  width: 30%;
}

@media screen and (max-width: 767px) {
  .other__previous {
    padding: 1.955671447196871vw;
    width: calc(100% - 3.911342894393742vw);
  }
}

.other__previous:hover {
  background-color: #444;
}

@media (hover: none) {
  .other__previous:hover {
    background-color: initial;
  }
}



.other__previous-number /* 番号を表示 */  {
  border-bottom: 2px solid #fff;
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .other__previous-number {
    min-width: 7.822685788787484vw;
    border-bottom: initial;
    border-right: 2px solid #fff;
  }
}

.other__previous-number p /* 番号 */ {
  font-size: 48px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .other__previous-number p {
    font-size: 6.258148631029988vw;
    text-align: right;
    margin-right: 0;
  }
}


.other__previous a /* 前作品へのリンク */ {
  border-radius: 20px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.other__previous a div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .other__previous a div {
    flex-direction: row;
  }
}

.other__previous-name p {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .other__previous-name p {
    margin-top: 0.651890482398957vw;
    padding-left: 2.607561929595828vw;
  }
}

.other__previous-number-arrow /* 番号の横に置く矢印 */{
  height: 35px;
  margin-left: 15px;
  opacity: 0.7;
  transform: rotate(90deg);
  transition: all .3s ease;
  width: auto;
}

@media screen and (max-width: 767px) {
  .other__previous-number-arrow {
    display: none;
  }
}

.other__previous:hover a div div p .other__previous-number-arrow {
  margin-left: 5px;
}

@media (hover: none) {
  .other__previous:hover a div div p .other__previous-number-arrow {
    margin-left: initial;
  }
}

.other__next /* 次作品を表す */ {
  border-radius: 20px;
  padding: 15px;
  position: relative;
  width: 30%;
  text-align: right;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .other__next {
    padding: 1.955671447196871vw;
    width: calc(100% - 3.911342894393742vw);
  }
}

.other__next:hover {
  background-color: #444;
}

@media (hover: none) {
  .other__next:hover {
    background-color: initial;
  }
}

.other__next-number /* 番号を入力 */{
  border-bottom: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .other__next-number {
    border-bottom: initial;
    border-right: 2px solid #fff;
    min-width: 7.822685788787484vw;
    width: 7.822685788787484vw;
  }
}

.other__next-number p {
  font-size: 48px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .other__next-number p {
    font-size: 6.258148631029988vw;
    text-align: right;
  }
}

.other__next-number-arrow /* 番号の横に置く矢印 */{
  height: 35px;
  margin-right: 15px;
  opacity: 0.7;
  transform: rotate(270deg);
  transition: all .3s ease;
  width: auto;
}

@media screen and (max-width: 767px) {
  .other__next-number-arrow {
    display: none;
    height: 4.563233376792699vw;
    margin-right: 1.955671447196871vw;
  }
}

.other__next:hover a div div p .other__next-number-arrow {
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .other__next:hover a div div p .other__next-number-arrow {
    margin-right: 0.651890482398957vw;
  }
}

.other__next-name /* 作品名 */{

}

.other__next-name p /* 作品名テキスト */{
  font-size: 18px;
  line-height: 1.6;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .other__next-name p {
    margin-top: 0.651890482398957vw;
    padding-left: 2.607561929595828vw;
  }
}

.other__next a /* 次作品へのリンク */{
  border-radius: 20px;
  color: #fff;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.other__next a div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .other__next a div {
    flex-direction: row;
  }
}

.other__current /* 今情報を見ている作品 */{
  margin: 0 10px;
  text-align: center;
  width: 40%;
}


@media screen and (max-width: 767px) {
  .other__current {
    display: none;
    margin: 0 1.303780964797914vw;
  }
}

.other__current-number /* 作品番号 */{
  border-bottom: 2px solid #fff;
  font-size: 48px;
  margin-top: 15px;
  line-height: 1.4;
}

@media screen and (max-width: 767px) {
  .other__current-number {
    font-size: 6.258148631029988vw;
    margin-top: 1.955671447196871vw;
  }
}

.other__current-name /* 作品名 */{
  font-size: 18px;
  line-height: 1.7;
  margin-top: 17px;
}

@media screen and (max-width: 767px) {
  .other__current-name {
    font-size: 2.346805736636245vw;
    margin-top: 2.216427640156454vw;
  }
}








