/* ポートフォリオ内共通設定 */
/* デモサイト内除く */
* { /* 共通 */
  /* フォントに関する設定 */
  /* 日本語・英語共通 */
  font-family: "kozuka-gothic-pro", sans-serif;
  font-style: normal;

  /* 寸法に関する設定 */
  margin: 0;
}

html {
  /* 挙動に関する設定 */
  /*内部リンククリック時の移動を滑らかに */
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
}

:root {
  /* 色に関する設定 */
  --main-color: #223a70;
  
  /* 寸法に関する設定 */
  --header-height: 60px; /* headerの高さ */
}

.inner {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  transition: all .3s ease;
}

@media screen and (max-width: 1240px) {
  .inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fade-in {
  opacity: 0;
  transition: all 1s ease;
}

.fade-in.active {
  opacity: 1;
}

.pc-only-br {
  display: inline;
}   

@media screen and (max-width: 767px) {
  .pc-only-br {
    display: none !important;
  }
}



/* 文節の途中における改行を防ぐ */ 
.ccc {
  white-space: nowrap;
}

/* 小見出し */
h2 {
  /* font-size: 30px; */
  text-align: center;

}

/* h2 span {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
} */

h2::before {
  font-family: "Font Awesome 5 Free";
  /* content: "\f111"; */
  position: absolute;/*絶対位置*/
  font-size: 1.4em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: -0.2em;
  color: var(--main-color);
}


/* ---------------------------------------------------------- */
header /* ヘッダー全体 */ {
  background-color: var(--main-color);
  color: #fff;
  height: var(--header-height);
  position: fixed;
  top: 0;
  transition: top .3s ease;
  width: 100%;
  z-index: 9999999;
}

@media screen and (max-width: 767px) {
  header {
    background-color: transparent;
  }
}

header .inner {
  display: flex;
}


.header__home { /* トップページへのリンクボタン */
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #fff;
  bottom: -5px;
  border-radius: 45px;
  height: 70px;
  position: relative;
  transition: background-color .3s ease;
  width: 70px;
}

@media screen and (max-width: 1220px) {
  .header__home {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__home {
    display: none;
  }
}

.header__home-link { /* トップページへのリンク */
  border-radius: 45px;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}


.header__home-link-img /* トップページリンク アイコン画像 */{
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover {
  background-color: #fff;
  border-color: var(--main-color);
}

@media (hover: none) {
  .header__home:hover {
    background-color: var(--main-color);
    border-color: #fff;
  }
}

.header__home:hover a .header__home-link-img {
  /* hover時は非表示（アイコンの色を変えるため）*/
  display: none;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img {
    display: inline;
  }
}


.header__home-link-img-hover {
  /* トップページアイコン（別の色のアイコンを表示） */
  display: none;
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover a .header__home-link-img-hover {
  /* トップページアイコン 色が切り替わったように見せる */
  display: inline;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img-hover {
    display: none;
  }
}



.header__nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-list-item {
  list-style: none;
  transition: all .3s ease;
}

.header__nav-list-item-link {
  border-radius: 15px;
  color: #fff;
  line-height: 3.6;
  padding: 15px 30px;
  text-decoration: none;
  transition: all .3s ease;
}

.header__nav-list-item:hover .header__nav-list-item-link {
  opacity: 0.5;
}

@media (hover: none) {
  .header__nav-list-item:hover .header__nav-list-item-link {
    opacity: 1;
  }
}

.header__menu-button /* レスポンシブ用メニューボタン */ {
  background-color: var(--main-color);
  border: 2px solid #fff;
  border-top: none;
  border-bottom-left-radius: 15px;
  cursor: pointer;
  height: 110px;
  padding: 10px;
  position: fixed;
  right: 0px;
  top: 0px; 
  width: 110px;
  z-index: 10001;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button.active {
  background-color: transparent;
  border-color: transparent;
}


.header__menu-button span /* メニューボタン横線 */ {
  display: block;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .header__menu-button span {
    height: 3px;
    margin: 9px 0;
  }
}

.header__menu-button.active span:nth-of-type(1) {
  transform: translateY(10px) rotate(-45deg);
}

/* @media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
} */

.header__menu-button.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu-button.active span:nth-of-type(3) {
  transform: translateY(-13.8px) rotate(45deg);
}

/* @media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(3) {
    transform: translateY(-0.9399477806788512vw) rotate(45deg);
  }
} */

.header__menu-sp /* レスポンシブメニュー */ {
  background-color: var(--main-color);
  height: 370px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s ease;
  visibility: hidden;
  width: 100%;
  z-index: 10000;
}

@media screen and (max-width: 360px) {
  .header__menu-sp {
    width: 100%;
  }
}

.header__menu-sp.active /* ﾊﾝﾊﾞｰｶﾞｰﾎﾞﾀﾝが押された時… */{
  opacity: 1;
  visibility: visible;
}

.header__menu-sp-empty /* ボタンと重なる部分 */{
  height: 70px;
}


.header__menu-sp-item-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.header__menu-sp-item {
  border-bottom: 3px solid #fff;
  /* border-radius: 23px; */
  height: 80px;
  list-style: none;
  margin: 15px;
  margin-bottom: 0;
  margin-top: 12px;
  padding-left: 10px;
  width: calc(100% - 50px);
}

.header__menu-sp-item-link {
  /* border-radius: 20px; */
  color: #fff;
  display: block;
  height: 100%;
  line-height: 5;
  text-align: left;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
}

.header__menu-sp-item-link:hover {
  opacity: 0.5;
}

@media (hover: none) {
  .header__menu-sp-item-link:hover {
    background-color: initial;
    color: initial;
  }
}

.header__menu-sp-item-link-img {
  height: 40px;
  margin-bottom: 7px;
  margin-right: 15px;
  transition: all .3s ease;
  vertical-align: middle;
  width: 40px;
}


.header__menu-sp-item-link-img-hover {
  display: none;
  height: 40px;
  margin-bottom: 7px;
  margin-right: 15px;
  transition: all .3s ease;
  vertical-align: middle;
  width: 40px;
}





.header__menu-sp-item-link span {
  
}

.header__menu-sp-item-empty::marker {
  
}

.empty { /* headerに隠れる部分（レスポンシブ時も共通） */
  height: 80px;
}

/* headline --------------------------------------------- */
.headline {
  border-bottom: 4px solid var(--main-color);
  margin-bottom: 30px;
  opacity: 0;
  padding-bottom: -10px;
  transform: translateX(-20px);
  transition: all 3s ease;
  width: 100%;
}

.headline.active {
  opacity: 1;
  transform: translateX(0);
}

.headline .inner {
  display: flex;
  flex-direction: row;
}

.headline__en /* 仮、あとからh1に直す？ */ {
  font-size: 68px;
}

.headline__ja {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 66px;
}

@media screen and (max-width: 768px) {
  .headline .inner {
    flex-direction: column;
  }

  .headline__en {
    font-size: 40px;
  }

  .headline__ja {
    font-size: 13px;
    margin-left: 0;
    margin-top: -15px;
    margin-bottom: 10px;
  }
}



/* footer ----------------------------------------------- */
footer {
  background-color: var(--main-color);
  color: #fff;
  height: 100px;
  padding-top: 55px;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  footer {
    height: 13.03780964797914vw;
    padding-top: 7.170795306388526vw;
  }
}

footer small {
}

footer p {

}