/* ポートフォリオ内共通設定 */
/* デモサイト内除く */
* { /* 共通 */
  /* フォントに関する設定 */
  /* 日本語・英語共通 */
  font-family: "kozuka-gothic-pro", sans-serif;
  font-style: normal;

  /* 寸法に関する設定 */
  margin: 0;

  /* 挙動に関する設定 */
  scroll-behavior: smooth; /*内部リンククリック時の移動を滑らかに */
}

:root {
  /* 色に関する設定 */
  --main-color: #223a70;
  
  /* 寸法に関する設定 */
  --header-height: 60px; /* headerの高さ */
}

.inner {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  transition: all .3s ease;
}

@media screen and (max-width: 1240px) {
  .inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    margin-left: 1.3054830287206265vw;
    margin-right: 1.3054830287206265vw;
  }
}





/* 文節の途中における改行を防ぐ */ 
.ccc {
  white-space: nowrap;
}


/* ---------------------------------------------------------- */
header /* ヘッダー全体 */ {
  background-color: var(--main-color);
  color: #fff;
  height: var(--header-height);
  position: fixed;
  transition: all .3s ease;
  width: 100%;
  z-index: 9999999;
}

@media screen and (max-width: 767px) {
  header {
    background-color: transparent;
  }
}

header .inner {
  display: flex;
}


.header__home { /* トップページへのリンクボタン */
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #fff;
  bottom: -5px;
  border-radius: 45px;
  height: 70px;
  position: relative;
  transition: background-color .3s ease;
  width: 70px;
}

@media screen and (max-width: 1220px) {
  .header__home {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__home {
    display: none;
  }
}

.header__home-link { /* トップページへのリンク */
  border-radius: 45px;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}


.header__home-link-img /* トップページリンク アイコン画像 */{
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover {
  background-color: #fff;
  border-color: var(--main-color);
}

@media (hover: none) {
  .header__home:hover {
    background-color: var(--main-color);
    border-color: #fff;
  }
}

.header__home:hover a .header__home-link-img {
  /* hover時は非表示（アイコンの色を変えるため）*/
  display: none;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img {
    display: inline;
  }
}


.header__home-link-img-hover {
  /* トップページアイコン（別の色のアイコンを表示） */
  display: none;
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover a .header__home-link-img-hover {
  /* トップページアイコン 色が切り替わったように見せる */
  display: inline;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img-hover {
    display: none;
  }
}



.header__nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-list-item {
  list-style: none;
  transition: all .3s ease;
}

.header__nav-list-item-link {
  border-radius: 15px;
  color: #fff;
  line-height: 3.6;
  padding: 15px 30px;
  text-decoration: none;
  transition: all .3s ease;
}

.header__nav-list-item:hover .header__nav-list-item-link {
  opacity: 0.5;
}

@media (hover: none) {
  .header__nav-list-item:hover .header__nav-list-item-link {
    opacity: 1;
  }
}

.header__menu-button /* レスポンシブ用メニューボタン */ {
  background-color: var(--main-color);
  border-radius: 35px;
  cursor: pointer;
  height: 3.91644908616188vw;
  padding: 1.3054830287206265vw;
  position: fixed;
  right: 1.3054830287206265vw;
  top: 1.8276762402088773vw; 
  width: 3.91644908616188vw;
  z-index: 10001;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button.active {
  background-color: transparent;
}


.header__menu-button span /* メニューボタン横線 */ {
  display: block;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .header__menu-button span {
    height: 0.39164490861618795vw;
    margin: 0.6527415143603132vw 0;
  }
}

.header__menu-button.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

@media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(1) {
    transform: translateY(1.1749347258485638vw) rotate(-45deg);
  }
}

.header__menu-button.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu-button.active span:nth-of-type(3) {
  transform: translateY(-7.2px) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(3) {
    transform: translateY(-0.9399477806788512vw) rotate(45deg);
  }
}

.header__menu-sp /* レスポンシブメニュー */ {
  background-color: var(--main-color);
  border-bottom-left-radius: 30px;
  height: 28.720626631853786vw;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s ease;
  visibility: hidden;
  width: 46.99738903394256vw;
  z-index: 10000;
}

.header__menu-sp.active {
  opacity: 1;
  visibility: visible;
}

.header__menu-sp-home {
  /* レスポンシブメニュー ホームボタン */
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border: 2px solid #fff;
  height: 10.443864229765012vw;
  margin-left: 3.263707571801567vw;
  margin-top: 1.3054830287206265 vw;
  position: relative;
  transition: all .3s ease;
  width: 34.7911227154047vw;
}

.header__menu-sp-home:hover {
  background-color: #fff;
}

@media (hover: none) {
  .header__menu-sp-home:hover {
    background-color: var(--main-color);
  }
}

.header__menu-sp-home-link {
  /*  レスポンシブメニュー内 ホームボタンリンク */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: block;
  height: 100%;
  width: 100%;
}


.header__menu-sp-home-link-img {
  height: 6.527415143603134vw;
  margin-left: 14.360313315926893vw;
  margin-top: 1.6971279373368149vw;
  width: 6.527415143603134vw;
}

.header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img {
  display: none;
}

@media (hover: none) {
  .header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img {
    display: inline;
  }
}


.header__menu-sp-home-link-img-hover {
  display: none;
  height: 6.527415143603134vw;
  margin-left: 14.360313315926893vw;
  margin-top: 1.6971279373368149vw;
  width: 6.527415143603134vw;
}

.header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img-hover {
  display: inline;
}

@media (hover: none) {
  .header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img-hover {
    display: none;
  }
}

.header__menu-sp-item-list {
  display: flex;
  padding-left: 1.3054830287206265vw;
}

.header__menu-sp-item {
  border: 2px solid #fff;
  /* border-radius: 23px; */
  height: 13.054830287206268vw;
  list-style: none;
  margin: 1.95822454308094vw;
  margin-bottom: 0;
  margin-top: 1.5665796344647518vw;
  width: 19.5822454308094vw;
}

.header__menu-sp-item:nth-of-type(1) { /* About */
  border-bottom-left-radius: 23px;
  margin-right: 0.9138381201044387vw;
}

.header__menu-sp-item:nth-of-type(2) { /* Works */
  border-bottom-right-radius: 23px;
  margin-left: 0.9138381201044387vw;
}

.header__menu-sp-item-link {
  /* border-radius: 20px; */
  color: #fff;
  display: block;
  height: 100%;
  line-height: 6;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
}

.header__menu-sp-item:nth-of-type(1) .header__menu-sp-item-link { /* About */
  border-bottom-left-radius: 2.610966057441253vw;
}

.header__menu-sp-item:nth-of-type(2) .header__menu-sp-item-link { /* Works */
  border-bottom-right-radius: 2.610966057441253vw;
}

.header__menu-sp-item-link:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (hover: none) {
  .header__menu-sp-item-link:hover {
    background-color: initial;
    color: initial;
  }
}

.header__menu-sp-item-link span {
  
}

.header__menu-sp-item-empty {
  list-style: none;
  width: 7.83289817232376vw;
}

.header__menu-sp-item-empty::marker {
  
}

.empty { /* headerに隠れる部分（レスポンシブ時も共通） */
  height: var(--header-height);
}

/* ------------------------------------------------------ */
footer {
  background-color: var(--main-color);
  color: #fff;
  height: 13.054830287206268vw;
  padding-top: 7.180156657963447vw;
  text-align: center;
}

footer small {
}

footer p {

}