/* ポートフォリオ内共通設定 */
/* デモサイト内除く */
* { /* 共通 */
  /* フォントに関する設定 */
  /* 日本語・英語共通 */
  font-family: "kozuka-gothic-pro", sans-serif;
  font-style: normal;

  /* 寸法に関する設定 */
  margin: 0;

  /* 挙動に関する設定 */
  scroll-behavior: smooth; /*内部リンククリック時の移動を滑らかに */
}

:root {
  /* 色に関する設定 */
  --main-color: #223a70;
  
  /* 寸法に関する設定 */
  --header-height: 60px; /* headerの高さ */
}

.inner {
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  transition: all .3s ease;
}

@media screen and (max-width: 1240px) {
  .inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 767px) {
  .inner {
    margin-left: 1.303780964797914vw;
    margin-right: 1.303780964797914vw;
  }
}





/* 文節の途中における改行を防ぐ */ 
.ccc {
  white-space: nowrap;
}


/* ---------------------------------------------------------- */
header /* ヘッダー全体 */ {
  background-color: var(--main-color);
  color: #fff;
  height: var(--header-height);
  position: fixed;
  transition: all .3s ease;
  width: 100%;
  z-index: 9999999;
}

@media screen and (max-width: 767px) {
  header {
    background-color: transparent;
  }
}

header .inner {
  display: flex;
}


.header__home { /* トップページへのリンクボタン */
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #fff;
  bottom: -5px;
  border-radius: 45px;
  height: 70px;
  position: relative;
  transition: background-color .3s ease;
  width: 70px;
}

@media screen and (max-width: 1220px) {
  .header__home {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header__home {
    display: none;
  }
}

.header__home-link { /* トップページへのリンク */
  border-radius: 45px;
  display: block;
  height: 100%;
  text-align: center;
  width: 100%;
}


.header__home-link-img /* トップページリンク アイコン画像 */{
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover {
  background-color: #fff;
  border-color: var(--main-color);
}

@media (hover: none) {
  .header__home:hover {
    background-color: var(--main-color);
    border-color: #fff;
  }
}

.header__home:hover a .header__home-link-img {
  /* hover時は非表示（アイコンの色を変えるため）*/
  display: none;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img {
    display: inline;
  }
}


.header__home-link-img-hover {
  /* トップページアイコン（別の色のアイコンを表示） */
  display: none;
  height: 40px;
  margin-top: 12px;
  width: 40px;
}

.header__home:hover a .header__home-link-img-hover {
  /* トップページアイコン 色が切り替わったように見せる */
  display: inline;
}

@media (hover: none) {
  .header__home:hover a .header__home-link-img-hover {
    display: none;
  }
}



.header__nav-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header__nav-list {
    display: none;
  }
}

.header__nav-list-item {
  list-style: none;
  transition: all .3s ease;
}

.header__nav-list-item-link {
  border-radius: 15px;
  color: #fff;
  line-height: 3.6;
  padding: 15px 30px;
  text-decoration: none;
  transition: all .3s ease;
}

.header__nav-list-item:hover .header__nav-list-item-link {
  opacity: 0.5;
}

@media (hover: none) {
  .header__nav-list-item:hover .header__nav-list-item-link {
    opacity: 1;
  }
}

.header__menu-button /* レスポンシブ用メニューボタン */ {
  background-color: var(--main-color);
  border-radius: 35px;
  cursor: pointer;
  height: 30px;
  padding: 10px;
  position: fixed;
  right: 10px;
  top: 14px; 
  width: 30px;
  z-index: 10001;
}

@media screen and (min-width: 768px) {
  .header__menu-button {
    display: none;
  }
}

.header__menu-button.active {
  background-color: transparent;
}


.header__menu-button span /* メニューボタン横線 */ {
  display: block;
  height: 3px;
  background: #fff;
  margin: 5px 0;
  transition: all .3s ease;
}

@media screen and (max-width: 767px) {
  .header__menu-button span {
    height: 3px;
    margin: 5px 0;
  }
}

.header__menu-button.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

/* @media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(1) {
    transform: translateY(9px) rotate(-45deg);
  }
} */

.header__menu-button.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menu-button.active span:nth-of-type(3) {
  transform: translateY(-7.2px) rotate(45deg);
}

/* @media screen and (max-width: 767px) {
  .header__menu-button.active span:nth-of-type(3) {
    transform: translateY(-0.9399477806788512vw) rotate(45deg);
  }
} */

.header__menu-sp /* レスポンシブメニュー */ {
  background-color: var(--main-color);
  border-bottom-left-radius: 30px;
  height: 370px;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: all .3s ease;
  visibility: hidden;
  width: 360px;
  z-index: 10000;
}

@media screen and (max-width: 360px) {
  .header__menu-sp {
    width: 100%;
  }
}

.header__menu-sp.active /* ﾊﾝﾊﾞｰｶﾞｰﾎﾞﾀﾝが押された時… */{
  opacity: 1;
  visibility: visible;
}

.header__menu-sp-empty /* ボタンと重なる部分 */{
  height: 70px;
}

.header__menu-sp-home {
  /* レスポンシブメニュー トップページへのボタン */
  border: 2px solid #fff;
  height: 80px;
  margin-left: 25px;
  margin-top: 10px;
  position: relative;
  transition: all .3s ease;
  width: 267px;
}

.header__menu-sp-home:hover {
  background-color: #fff;
}

@media (hover: none) {
  .header__menu-sp-home:hover {
    background-color: var(--main-color);
  }
}

.header__menu-sp-home-link {
  /*  レスポンシブメニュー内 ホームボタンリンク */
  display: block;
  height: 100%;
  width: 100%;
}


.header__menu-sp-home-link-img {
  height: 50px;
  margin-left: 110px;
  margin-top: 13px;
  width: 50px;
}

.header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img {
  display: none;
}

@media (hover: none) {
  .header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img {
    display: inline;
  }
}


.header__menu-sp-home-link-img-hover {
  display: none;
  height: 50px;
  margin-left: 110px;
  margin-top: 13px;
  width: 50px;
}

.header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img-hover {
  display: inline;
}

@media (hover: none) {
  .header__menu-sp-home:hover .header__menu-sp-home-link .header__menu-sp-home-link-img-hover {
    display: none;
  }
}

.header__menu-sp-item-list {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.header__menu-sp-item {
  border: 2px solid #fff;
  /* border-radius: 23px; */
  height: 80px;
  list-style: none;
  margin: 15px;
  margin-bottom: 0;
  margin-top: 12px;
  width: 267px;
}

.header__menu-sp-item-link {
  /* border-radius: 20px; */
  color: #fff;
  display: block;
  height: 100%;
  line-height: 5;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
  width: 100%;
}

.header__menu-sp-item-link:hover {
  background-color: #fff;
  color: var(--main-color);
}

@media (hover: none) {
  .header__menu-sp-item-link:hover {
    background-color: initial;
    color: initial;
  }
}

.header__menu-sp-item-link span {
  
}

.header__menu-sp-item-empty::marker {
  
}

.empty { /* headerに隠れる部分（レスポンシブ時も共通） */
  height: var(--header-height);
}

/* ------------------------------------------------------ */
footer {
  background-color: var(--main-color);
  color: #fff;
  height: 100px;
  padding-top: 55px;
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  footer {
    height: 13.03780964797914vw;
    padding-top: 7.170795306388526vw;
  }
}

footer small {
}

footer p {

}