@charset "utf-8";

/* 共通設定 */
:root {
  --main-color: #18943b; /* 緑色 */
  --sub-color: #67a4db; 
  --sub-color2: #606060; /* グレー */
  --sub-color3: #939019; /* 黄土色 */
}

* {
  box-sizing: border-box;
  font-family: "sicprintempspetit", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.inner {
  margin: 0 auto;
  max-width: 1400px;
}

.title-ja {
  font-size: 32px; /* 対応済 */
  text-align: center;
}

@media screen and (max-width: 767px) { 
  .title-ja {
    font-size: 24px; /* 対応済 */
  }
}

.title-en { /* すべてのセクションの見出し（英語）*/
  color: var(--main-color);
  font-size: 16px; /* 対応済み */
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .title-en {
    font-size: 14px;
  }
}

/* header .inner {
  margin: 0 auto;
} */

/* 左右marginは35pxで統一？ */

/* レスポンシブ ブレークポイント 767px */


/* ヘッダー ------------------------------------------------------------------------------------------ */
header {
  align-items: center;
  background-color: #fff;
  height: 60px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.header__wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.header__companyName {
  background-color: var(--main-color);
  color: #fff;
  /* display: block; */
  /* height: 100%; */
  /* line-height: 1.5; */
  /* padding: 12px; */
  vertical-align: top;
  max-height: 60px;
  max-width: 300px;
  min-width: 300px;
}

.header__companyName-ja {
  font-size: 28px;
  text-align: center;
}

.header__companyName-en {
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/* ナビゲーションメニュー */
.header__nav {
  width: calc(100% - 450px);
}

@media screen and (max-width: 1000px) {
  .header__nav {
    display: none;
  }
}

/* ナビゲーションメニュー内各リンク */
.header__nav-link {
  color: var(--sub-color2);
  font-size: 22px;
  line-height: 52px;
  height: 100%;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 34px;
  text-decoration: none;
  vertical-align: middle;
}

.header__nav-link:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease, color 0.3s ease;
  
}

/* お問い合わせフォームへページ内リンク */
.header__forContact {
  align-content: center;
  border: 2px solid var(--main-color);
  border-radius: 60px;
  color: var(--main-color);
  height: 40px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  width: 165px;
}

@media screen and (max-width: 1000px) {
  .header__forContact {
    display: none;
  }
}

.header__forContact:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* レスポンシブメニュー用ボタン */

.header__menuButton {
  width: 30px;
  height: 25px;
  position:fixed;
  top: 14px;
  right: 10px;
  cursor: pointer;
  z-index: 1001;
}

@media screen and (min-width: 1001px) {
  .header__menuButton {
    display: none;
  }
}

.header__menuButton span {
  display: block;
  height: 3px;
  background: var(--main-color);
  margin: 5px 0;
  transition: all 0.3s ease;
}

.header__menuButton.active span:nth-of-type(1) {
  transform: translateY(9px) rotate(-45deg);
}

.header__menuButton.active span:nth-of-type(2) {
  opacity: 0;
}

.header__menuButton.active span:nth-of-type(3) {
  transform: translateY(-8px) rotate(45deg);
}

.header__menu-sp {
  background-color: var(--main-color);
  color: white;
  display: none;
  height: 670px;
  position: fixed;
  top: 60px;
  width: 100%;
  transition: all 0.3s ease;
}

.header__menu-sp.active {
  display: block;
  overflow: hidden;
  position: fixed;
}

.header__menu-sp-nav-list-item-link {
  color: #fff;
  font-size: 24px;
  left: 0;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}

.header__menu-sp-nav-list-item-link:hover {
  opacity: 0.7;
  left: 10px;
}

.header__menu-sp-nav-list-item {
  /* left: 0; */
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  /* transition: all 0.3s ease; */
}

/* .header__menu-sp-nav-list-item-link:hover .header__menu-sp-nav-list-item {
  left: 10px;
} */

.header__menu-sp-forContact {
  border: 2px solid #fff;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  position: relative;
  width: 400px;
}

.header__menu-sp-forContact:hover {
  background-color: #fff;
}


.header__menu-sp-forContact-link {
  color: #fff;
  display: block;
  height: 100%;
  margin-top: 14px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.header__menu-sp-forContact:hover .header__menu-sp-forContact-link .header__menu-sp-forContact-link-text {
  color: var(--main-color);
}



.empty {
  height: 60px;
}

/* メインビジュアル -------------------------------------------------------------------------------- */
.mv {
  background-color: var(--sub-color2); /* 仮設定 */
  height: 600px;
}

/* コンセプトブロック ------------------------------------------------------------------------------ */
.concept__flex {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.concept__img {
  background-image: url(img/concept.jpg);
  background-size: cover;
  border-radius: 50%;
  height: 300px;
  width: 400px;
}

.concept__content {
  text-align: center;
  margin: 40px;
}

.concept__content-title {
  color: var(--main-color);
  font-size: 36px;
}

.concept__content-text {
  color: var(--sub-color2);
  font-size: 28px;
}

/* メンバーブロック -------------------------------------------------------------------------------- */
.member__person /* メンバーセット */{
  display: flex;
}

.member__person:nth-of-type(2n) /* 偶数人目は写真と説明を逆に配置 */{
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .member__person {
    display: inline;
  }
}


.member__person-img /* メンバー画像 */{
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 767px) {
  .member__person-img {
    background-size: cover;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }
}

.member__person-introduce {

}

@media screen and (max-width: 767px) {
  .member__person-introduce {
    margin: 0 auto;
    width: calc(100% - 60px);
  }
}


/* ビジネスブロック -------------------------------------------------------------------------------- */
.business__target-flex /* 顧客例配置用 */{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .business__target-flex {
    margin: 0 auto;
    width: 300px;
  }
}


.business__target /* 顧客例（枠） */ {
  border: 2px solid var(--sub-color2);
  border-radius: 40px;
  margin: 20px;
  height: 180px;
  width: 350px;
}

@media screen and (max-width: 767px) {
  .business__target {
    border-radius: 20px;
    height: 70px;
    object-position: center;
    width: 110px;
  }
}


.business__target-content {
  font-size: 16px; /* 対応済み */
  text-align: center;
}

@media screen and (max-width: 767px) {
  .business__target-content {
    font-size: 14px; /* 対応済み */
  }
}


.business__target-content-user /* 顧客例（テキスト）*/ {
  color: var(--main-color);
}

/* 追加スペース */


.business__works-flex /* 業務内容一覧 */ {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 700px;
}

@media screen and (max-width: 767px) {
  .business__works-flex {
    width: 400px;
  }
} 


.business__works /* 業務内容の具体例 */{
  background-color: var(--sub-color);
  height: 300px;
  margin: 20px;
  position: relative;
  width: 300px;
}

@media screen and (max-width: 767px) {
  .business__works {
    height: 130px;
    margin: 5px;
    width: 140px;
  }
}


.business__works-content {
  color: #fff;
  font-size: 34px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-12%, -50%);
}

@media screen and (max-width: 767px) {
  .business__works-content {
    font-size: 18px;
  }
}


/* 企画プロセスブロック ----------------------------------------------------------------------------- */
.process__content {
  border: 2px solid var(--sub-color);
  border-radius: 20px;
  display: flex;
  /* margin-top: 35px; */
  /* margin-bottom: 35px; */
  margin: 35px;
  padding: 20px 80px 20px;
}

.process__content:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.process__content:last-of-type {
  margin-bottom: 70px;
}



.process__content-img {
  background-color: var(--sub-color); /* 仮設定 */
  background-size: cover;
  height: 400px;
  width: 600px;
}

.process__content-about {
  margin-left: 60px;
  margin-right: 60px;
}

.process__content-about-title {
  font-size: 32px;
}

.process__content:nth-of-type(2n) .process__content-about-title {
  text-align: right;
}

.process__content-about-text {
  font-size: 23px;
}

.process__content:nth-of-type(2n) .process__content-about-text {
  text-align: right;
}

/* 実績ブロック ------------------------------------------------------------------------------------ */
.achievement {
  background-color: #e2f0e5;
}

.achievement .inner .title-en {
  color: var(--sub-color2);
}

.achievement__content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) { /* レスポンシブ対応 */
  .achievement__content-wrapper {
    display: inline;
  }
}

.achievement__content {
  border: 2px solid var(--sub-color2);
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  width: 400px;
}


.achievement__content-image {
  background-color: var(--sub-color2); /* 仮設定 */
  background-size: cover;
  height: 200px;
  margin: auto;
  width: 300px;
}

.achievement__content-about-title {
  color: var(--sub-color2);
  margin-top: 40px;
  margin-bottom: 30px;
}

.achievement__content-about-text {
  color: var(--sub-color2);
}


/* お問い合わせブロック -------------------------------------------------------------------------------- */
.contact__form-content {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .contact__form-content {
    display: inline-block;
  }
}

.contact__form-content-label {
  font-size: 24px;
  line-height: 3.4;
  /* margin-left: 15px; ? */
  width: 270px;
}

@media screen and (max-width: 900px) {
  .contact__form-content-label {
    line-height: 0.88;
    width: 100%;
  }
}


.contact__form-content-label-required { /* 入力必須を示すラベル */
  background-color: #f00;
  color: #fff;
  margin-left: 8px;
  padding: 5px;
}


.contact__form-content input, 
.contact__form-content textarea { /* contactエリア内の入力欄すべて */
  background-color: #e9e9e9;
  border: 3px solid var(--sub-color2);
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin-bottom: 15px;
  padding: 2px 10px;
  width: calc(100% - 335px);
}

textarea {
  height: 180px;
}

@media screen and (max-width: 900px) {
  input, textarea {
    margin-top: 5px;
    width: 100%;
  }
}

input:focus, textarea:focus {
  background-color: #e2f0e5;
  color: var(--sub-color2);
  border: 3px solid var(--main-color);
}

.contact__form-content-submit-flex {
  display: flex;
}

.contact__form-content-submit-flex-empty {
  width: 15%;
}

.contact__form-content-submit {
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--sub-color2);
  color: #fff;
  cursor: pointer;
  font-size: 30px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
  width: 300px;
}

.contact__form-content-submit:hover {
  background-color: var(--sub-color3);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact__form-content-submit:focus {
  box-shadow: none;
  position: relative;
  left: 5px;
  top: 5px;
}



/* フッター ------------------------------------------------------------------------------------------ */
footer {
  background-image: url(img/footer.png);
  background-size: cover;
  color: #fff;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.footer__color {
  background-image: linear-gradient(135deg, #18943b, #ffffff);
  height: 100%;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 2;
}

.footer__content {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.footer__detail {
  display: flex;
}

.footer__detail-company {
  width: 50%;
}

.footer__detail-company-ja {
  font-size: 56px;
  text-align: right;
}

.footer__detail-company-en {
  font-size: 30px;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
}

.footer__detail-address {
  width: 50%;
}

.footer__detail-address {
  font-size: 25px;
}

.footer__nav {
  display: flex;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .footer__nav {
    display: inline;
  }
}

.footer__nav-link {
  color: #fff;
  text-decoration: none;
}

.footer__nav-link:hover {
  opacity: 0.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

small {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}