@charset "utf-8";
/*
レスポンシブ ブレークポイント : 767px
*/

/* 共通設定 ---------------------------------------------------------------------- */
:root {
  --main-color: #06b9ff;
  --sub-color1: #00437d;
  --sub-color2: #333;
  --sub-color3: #fff;
}

* {
  margin: 0;
}

.inner {
  margin:0 auto;
  max-width: 1400px;
}

.bg { /* 背景境界 */
  height: auto;
  margin-bottom: -2px;
  width: 100%;
}

/* ヘッダー --------------------------------------------------------------------- */
.header {
  background-color: var(--main-color);
  border-radius: 30px;
  box-shadow:2px 5px 10px 1px var(--sub-color2);
  color: var(--sub-color3);
  display: flex;
  height: 60px;
  margin: 10px 25px 25px;
  position: fixed;
  transition: all 0.3s ease;
  width: calc(100% - 50px);
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    border-radius: 0;
    height: 50px;
    margin: 0;
    width: 100%;
  }
}

.header.top {/*(一番上にいる時のみ）*/
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}

.header__logo-content {
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 35px;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__logo-content.top {
  cursor: auto;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header__logo-content {
    margin: 8px;
    margin-left: 13px;
    opacity: 1;
  }
}

.header__empty {
  width: calc(100% - 185px);
}


.header__download {
  background-color: var(--sub-color2);
  border-radius:  30px;
  cursor: pointer;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  width: 180px;
}

@media screen and (max-width: 767px) {
  .header__download {
    border-radius: 0;
    margin: 0;
    width: 55px;
  }
}

.header__download:hover {
  background-color: #999;
}

.header.top .header__download {
  border-radius:  0px;
  border-bottom-right-radius:  0px;
  line-height: 55px;
  margin: 0;
}

.header__download-link {
  color: var(--sub-color3);
  display: flex;
  text-decoration: none;
}

.header__download-icon {
  background-image: url(img/icon_download.png);
  background-size: cover;
  height: 22px;
  margin-top: 12px;
  margin-left: 17px;
  width: 22px;
}

.header.top .header__download .header__download-icon {
  margin-top: 18px;
}

.header__download-text {
  margin-left: 10px;
  width: 110px;
}

@media screen and (max-width: 767px) {
  .header__download-text {
    display: none;
  }
}





/* MV -------------------------------------------------------------------------- */

.mv {
  display: flex;
  height: 88vh;
  width: 100%;
  z-index: 90;
}

@media screen and (max-width: 767px) {
  .mv {
    background-color: #000;
    background-image: url(img/mv2-min.jpg);
    background-size: cover;
    display: block;
    height: calc(100vh - 50px);
  }
}

.mv__symbol-sp {
  opacity: 0.5;
  height: 50vh;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .mv__symbol-sp {
    display: none;
  }
}

.mv__symbol-sp-img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  margin-bottom: auto;
  object-position: bottom 25% left 25%;
  opacity: 0;
  transition: opacity 3s ease;
  width: auto;
}

.mv__symbol-sp-img.fade-in{
  opacity: 1;
}

:root {
  --mv-img-width: 45%; /* 未確定 */
}

.mv__img1 {
  background-image: url(img/mv2-min.jpg);
  background-position: 26% 50%; 
  background-size: cover;
  height: 100%;
  left: 0%;
  position: relative;
  width: var(--mv-img-width);
}

@media screen and (max-width: 767px) {
  .mv__img1 {
    display: none;
  }
}

.mv__img2 {
  background-image: url(img/mv2m-min.jpg);
  background-position: 34% 80%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  transform: scale(-1, 1);
  width: var(--mv-img-width);
}

@media screen and (max-width: 767px) {
  .mv__img2 {
    display: none;
  }
}

.mv__name { /* クラス名変更予定 */
  background-color: #000;
  display: grid;
  place-items: center;
  width: 15%;
}

@media screen and (max-width: 767px) {
  .mv__name {
    display: none;
  }
}

.mv__symbol-img {
  text-align: center;
  width: 100px;
  opacity: 0;
  transition: opacity 3s ease;
}

.mv__symbol-img.fade-in{
  opacity: 1;
}





/* スローガンブロック ----------------------------------------------------------- */
.slogan {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan__content {
  color: #0c6cd3;
  font-size: 32px;
  font-style: italic;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .slogan__content {
    font-size: 22px;
  }
}

.slogan__content-clause {
  margin: 0 -4px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .slogan__content-clause {
    margin: 0 -2px;
  }
}

/* プランブロック --------------------------------------------------------------- */
.plan__about {
  margin: 0 auto;
  text-align: center;
}

.plan__about-table {
  display: flex;
  margin: 0 auto;
  max-width: 900px;
  display: inline-block;
}

.plan__about-table-column {
  display: inline-block;
  flex-direction: column;
}


.plan__about-table-column-data {
  font-size: 20px;
  font-weight: 500;
  line-height: 80px;
  width: 120px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-data {
    font-size: 14px;
    line-height: 20px;
    width: 70px;
  }
}



/* プラン別のスタイル */
.plan__about-table-column-head-paid,  
.plan__about-table-column-data-paid /* 有料 */ {
  border-color: black;
  border-width: 1px;
  background-color: rgb(255, 227, 202);
  color: #f70;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  width: 120px;
}

.plan__about-table-column-head-free,
.plan__about-table-column-data-free /* 無料 */ {
  background-color: #e8e8e8;
  color: #888;
  font-size: 32px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head-paid, /* 有料・無料両方 */
  .plan__about-table-column-data-paid,
  .plan__about-table-column-head-free,
  .plan__about-table-column-data-free {
    font-size: 24px;
    width: 70px;
  }
}

/* 表位置別 */
.plan__about-table-column-head ,
.plan__about-table-column-head-paid ,
.plan__about-table-column-head-free /* head */{
  height: 70px;
  width: 220px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head,
  .plan__about-table-column-head-paid,
  .plan__about-table-column-head-free /* head */{
    line-height: 20px;
    height: 170px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50px;
    writing-mode: vertical-rl;
  }
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head-paid span,
  .plan__about-table-column-head-free span {
    font-size: 24px;
    justify-content: center;
    height: 30%;
    position: relative;
    top: 0%;
    right: 14px;
    text-align: center;
    width: 100%;
  }
}



/* .plan__about-table-column-head span,
.plan__about-table-column-head-paid span,
.plan__about-table-column-head-free spanhead{
  line-height: 70px;
}

.plan__about-table-column-head-clause {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  「プラン」の文字のみ
  .plan__about-table-column div span .plan__about-table-column-head-clause:nth-of-type(2) {
    font-size: 20px;
  }
} */


.plan__about-table-column-data ,
.plan__about-table-column-data-paid,
.plan__about-table-column-data-free /* セル */{
  height: 50px;
  width: 220px;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-data {
    width: 200px;
  }

  .plan__about-table-column-data-paid,
  .plan__about-table-column-data-free /* セル */{
    width: 50px;
  }

  .plan__about-table-column-data-free:nth-of-type(5) {
    margin-bottom: -5px;
  }
}



.plan__about-table-column-data-img { /* 表内の「〇」「×」画像 */
  height: 27px;
  margin: 0 auto;
  margin-top: 12px;
  width: 27px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-data-img {
    height: 18px;
    width: 18px;
  }
}




/* Usage ----------------------------------------------------------------------- */
.usage {

}

.usage__unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.usage__unit:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .usage__unit {
    margin: 0 auto;
    display: inline;
  }
}

.usage__unit-img {
  background-size: cover;
  border-radius: 30px;
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 767px) {
  .usage__unit-img {
    height: 400px;
    margin: 0 auto;
    width: calc(100% - 50px);
  }
}

.usage__unit:first-of-type .usage__unit-img {
  background-image: url(img/usage1.jpg);
}

.usage__unit:last-of-type .usage__unit-img {
  background-image: url(img/usage2.jpg);
}

.usage__unit-content {
  width: 400px;
}

@media screen and (max-width: 767px) {

}


.usage__unit-content-text {
  font-size: 24px;
}

/* レビュー --------------------------------------------------------------------- */
.review {
  background-color: var(--sub-color1);
  color: var(--sub-color3);
  /* padding-bottom: 120px; */
  margin-top: -5px;
  margin-bottom: -20px;
}

.review__title {
  font-size: 42px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .review__title {
    font-size: 28px;
  }
}

.review__icon {
  height: 40px;
  margin: 0 20px -5px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .review__icon {
    height: 30px;
    margin: 0 20px -5px;
    width: 30px;
  }
}

.review__container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .review__container {
    flex-direction: column;
  }
}

.review__unit {
  border: 2px double var(--sub-color3);
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
}

@media screen and (max-width: 767px) {
  .review__unit {
    display: block;
    font-size: 16px;
  }
}

.review__unit-wrapper { /* 横並び */
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) { /* レスポンシブ時は縦並び */
  .review__unit-wrapper {
    flex-direction: column;
    padding-left: 0;
  }
}

.review__unit-icon {
  background-size: 150%;
  background-repeat: no-repeat;
  height: 150px;
  margin-right: 20px;
  min-height: 150px;
  min-width: 150px;
  transition: all 0.5s ease;
  width: 150px;
}

.review__unit:hover .review__unit-wrapper .review__unit-icon {
  background-size: 170%;
}

.review__unit:nth-of-type(1) .review__unit-icon { /* レビュー１のアイコン */
  background-image: url(img/review1.jpg);
  background-position: 30% 40%;
}

.review__unit:nth-of-type(2) .review__unit-icon { /* レビュー２のアイコン */
  background-image: url(img/review2.jpg);
  background-position: 30% 40%;
}

/* @media screen and (max-width: 767px) {
  .review__unit-icon {
    mr  
  }
} */

.review__unit-attribute {
  display: flex;
  flex-direction: column;
}

.review__unit-content-text {
  font-style: italic;
}

/* Q&A ------------------------------------------------------------------------- */
.qanda /* Q&Aブロック */{
  
}

.qanda__title {

}

.qanda__title:before {
  
}

.qanda__unit /* 質問と解答一組 */{
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}

.qanda__unit.active {
  
}

.qanda__unit-question { /* Q&A 質問エリア */
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: var(--sub-color3);
  cursor: pointer;
  display: flex;
  height: 60px;
  transition: border-bottom-left-radius 0.3s ease;
  transition: border-bottom-right-radius 0.3s ease;
  width: 100%;
}


.qanda__unit-question-content /* 質問の内容 */{
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
  line-height: 1.5;
  /* margin: 0; */
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 17px;
  padding-bottom: 1px;
  text-align: left;
  width: calc(100% - 75px);
}

.qanda__unit-question-content p {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  line-height: none;
  word-wrap: break-word;
}

.qanda__unit-question-content-Q {
  background-color: var(--main-color);
  border-radius: 40px;
  color: var(--sub-color3);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.qanda__unit-question-button {
  background-image: url(img/arrow.png);
  background-size: cover;
  /* border: 2px solid var(--sub-color3); */
  border-radius: 60px;
  height: 30px;
  width: 30px;
  margin: 5px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.qanda__unit.active .qanda__unit-question-button {
  transform: rotate(180deg);
}

.qanda__unit-answer { /* Q&A 解答エリア */
  background-color: var(--sub-color3); /* 仮 */
  display: flex;
  height: auto;
  min-height: 0px;
  opacity: 1;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: all 0.3s ease;
}

.qanda__unit.active .qanda__unit-answer { /* active指定すべきはunit */
  height: 50px;
  opacity: 0;
}

.qanda__unit-answer-content {
  margin-left: 0;
  margin-right: 40px;
}

.qanda__unit-answer-content-A {
  border: 1px solid var(--main-color);
  border-radius: 60px;
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 36px;
  font-weight: 400;
  margin-right: 19px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* 事前登録ブロック -------------------------------------------------------------- */
.pre-registration /* ブロック全体 */ {
  background-color: var(--sub-color1);
  color: var(--sub-color3);
  margin-top: -5px;
  text-align: center;
}

.pre-registration__form /* 事前登録フォーム全体 */ {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.pre-registration__mail /* メールアドレス入力欄 */{
  border: 2px solid var(--sub-color1);
  border-radius: 10px;
  font-size: 28px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(100% - 40px);
}

@media screen and (max-width: 767px) {
  .pre-registration__mail {
    font-size: 21px;
  }
}


.pre-registration__submit /* 事前登録ボタン */{
  background-color: var(--sub-color1);
  border-color: var(--sub-color3);
  border-radius: 10px;
  color: var(--sub-color3);
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 10px;
  opacity: 1.0;
  transition: all 0.3s ease;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .pre-registration__submit {
    height: 40px;
    width: 130px;
  }
}

.pre-registration__submit:hover {
  background-color: var(--sub-color3);
  color: var(--sub-color1);
}

/* フッター --------------------------------------------------------------------- */
footer {
  margin-top: -3px;
  background-color: var(--sub-color2);
  color: var(--sub-color3);
  text-align: center;
}

.footer__container {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 766px) {
  .footer__container {
    display: inline;
  }
}

/* .footer__appli-name {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: italic;
} */

.footer__symbol-img {
  height: 160px;
  margin-left: auto;
  text-align: center;
  width: auto;
}

@media screen and (max-width: 767px) {
  .footer__symbol-img {
    height: 140px;
    width: auto;
  }
}

.footer__wrapper {
  margin-left: 20px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    margin-left: auto;
  }
}

.footer__company-about {
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer__company-about {
    text-align: center;
  }
}

.footer__company-about-name {
  font-size: 30px;
  margin: 3px 0;
}

.footer__company-about-address-clause {
  white-space: nowrap;
}

.footer__sns /* SNSブロック */{
  display: flex;
  margin: 0 auto;
  /* text-align: center; */
}

@media screen and (max-width: 767px)  {
  .footer__sns /* SNSブロック */ {
    justify-content: center;
    gap: 8px;
  }
}

.footer__sns-link /* 各SNSリンク */ {
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}

.footer__sns-link:hover /* 各SNSリンクhover時 */ {
  opacity: 0.5;
}

.footer__sns-link:last-of-type /* 一番右のSNSアイコン */ {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer__sns-link:first-of-type /* 一番左のSNSアイコン */ {
    margin-left: auto;
  }
}

.footer__sns-link-img /* SNSアイコンの画像 */ {
  height: 40px;
  margin: 0 10px;
  transition: all 0.3s ease;
  width: 40px;
}

.footer__sns-link:first-of-type .footer__sns-link-img
/* 一番左のSNSアイコンには左marginを適用しない */ {
  margin-left: 0;
}

.footer__sns-link:hover .footer__sns-link-img /* SNSアイコンhover時 */ {
  transform: scale(1.2);
}



@media screen and (max-width: 767px) {
  .footer__sns-link-img {
    height: 25px;
    width: 25px;
  }

  /* .footer__sns-link-img:first-of-type {
    margin-left: auto;
  }

  .footer__sns-link-img:last-of-type {
    margin-right: auto;
  } */
}


.footer__menu-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer__menu-item {
  /* border-right: 1px solid var(--sub-color3); */
  color: var(--sub-color3);
  font-size: 14px;
  list-style: none;
  padding: 0 10px;
  position: relative;
}

.footer__menu-item a {
  display: block;
  color: var(--sub-color3);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__menu-item a:hover {
  opacity: 0.5;
}

.footer__menu-item + .footer__menu-item::before { /* メニュー項目の区切り線 */
  content: '';
  position:absolute;
  left: 0;
  top: 25%;
  width: 1px;
  height: 50%;
  background-color: var(--sub-color3);
  /* margin: 0 8px; */
}

.footer__menu-item:last-child:after {
  display: none;
}

.footer__menu-item:last-child {
  border-right: none;
}




