@charset "utf-8";
/*
レスポンシブ ブレークポイント : 767px
*/

/* 共通設定 ---------------------------------------------------------------------- */
:root {
  --main-color: #06b9ff;
  --sub-color1: #00437d;
  --sub-color2: #333;
  --sub-color3: #fff;
  --sub-color4: #ed8045;
  overflow-x: hidden;
}

* {
  margin: 0;
  /* text-align: center; */
}

.inner {
  /* display: inline-block; */
  margin: 0 auto;
  /* max-width: 1400px; */
  text-align: center;
  /* width: 100%; */
}

.bg { /* 背景境界 */
  height: auto;
  margin-bottom: -2px;
  width: 100%;
}

h1, h2, h3, h4, h5 { /* 仮設定 */
  text-align: center;
}

/* section共通設定 */
.section {

}

.section__title { /* 見出しタイトル */
  padding-bottom: 25px;
  padding-top: 30px;
  text-align: center;
}

.section__title-img { /* 見出しアイコン */
  background-size: cover;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 12px;
  max-height: 70px;
  max-width: 70px;
  min-height: 70px;
  max-width: 70px;
  width: 70px;
}



.section__title-text {
  /* border-top: 2px solid var(--sub-color2); */
  display: inline-block;
  font-size: 40px;
  position: relative;
  padding-top: 4px;
}

.section__title-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 4px;
  background-color: var(--main-color);
}

/* ヘッダー --------------------------------------------------------------------- */
.header {
  background-color: var(--main-color);
  border-radius: 30px;
  box-shadow:2px 5px 10px 1px var(--sub-color2);
  color: var(--sub-color3);
  display: flex;
  height: 60px;
  margin: 10px 25px 25px;
  position: fixed;
  transition: all 0.3s ease;
  width: calc(100% - 50px);
  z-index: 100;
}

@media screen and (max-width: 767px) {
  .header {
    border-radius: 0;
    height: 50px;
    margin: 0;
    width: 100%;
  }
}

.header.top {/*(一番上にいる時のみ）*/
  border-radius: 0px;
  margin: 0px;
  width: 100%;
}

.header__logo-content {
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 35px;
  opacity: 0;
  transition: all 0.3s ease;
}

.header__logo-content.top {
  cursor: auto;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header__logo-content {
    margin: 8px;
    margin-left: 13px;
    opacity: 1;
  }
}

.header__empty {
  width: calc(100% - 185px);
}


.header__download {
  background-color: var(--sub-color2);
  border-radius:  30px;
  cursor: pointer;
  line-height: 40px;
  margin: 10px;
  text-align: center;
  transition: all 0.3s ease;
  width: 180px;
}

@media screen and (max-width: 767px) {
  .header__download {
    border-radius: 0;
    margin: 0;
    width: 55px;
  }
}

.header__download:hover {
  background-color: #999;
}

.header.top .header__download {
  border-radius:  0px;
  border-bottom-right-radius:  0px;
  line-height: 55px;
  margin: 0;
}

.header__download-link {
  color: var(--sub-color3);
  display: flex;
  text-decoration: none;
}

.header__download-icon {
  background-image: url(img/icon_download.png);
  background-size: cover;
  height: 22px;
  margin-top: 12px;
  margin-left: 17px;
  width: 22px;
}

.header.top .header__download .header__download-icon {
  margin-top: 18px;
}

.header__download-text {
  margin-left: 10px;
  width: 110px;
}

@media screen and (max-width: 767px) {
  .header__download-text {
    display: none;
  }
}


/* 新MVエリア（仮で.mv1 エリアとする）-------------------------------------------- */
.mv {
  background-color: #000;
  display: flex;
  flex-direction: row;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
  text-align: initial;
  width: 100%;
}

@media screen and (max-width: 1335px) {
  .mv {
    height: 44.9438202247191vw; /* 600 */
  }
}

@media screen and (max-width: 767px) {
  .mv {
    flex-direction: column; /* 横配置から縦配置に変更 */
  } 
}

.mv__image {
  background-image: url(img/mv2-min.jpg);
  background-position: 26% 50%; 
  background-size: cover;
  width: 50%;
}

.mv__content { 
  background-color: var(--main-color);
  color: #fff;
  display: inline-block;
  max-width: 100vw;
  overflow: visible; /* はみ出した部分も表示する */
  padding: 40px;
  position: relative;
  transform: transformY(-20%);
  white-space: nowrap;
  /* width: max-content; */
  width: 50%;
}



@media screen and (max-width: 1335px) {
  .mv__content {
    padding: 2.9962546816479403vw;
  }
}

.mv__branding {
  display: flex;
  flex-direction: row;
}

.mv__logo {
  object-fit: contain;
  height: 65px;
  width: 65px;
}

@media screen and (max-width: 1335px) {
  .mv__logo {
    height: 4.868913857677903vw;
    width: 4.868913857677903vw;
  }
}

.mv__app-name {
  font-family: Arial; 
  font-size: 50px;
  font-style: oblique;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 20px;
  margin-top: 0;
  text-align: left;
}

@media screen and (max-width: 1335px) {
  .mv__app-name {
    font-size: 3.7453183520599254vw;
    margin-left: 1.4981273408239701vw;
  }
}

.mv__catchcopy {
  color: #fff;
  left: 0;
  margin-left: 0;
  overflow: visible; /* はみ出した部分も表示する */
  padding: 2rem 1rem;
  padding-left: 0;
  position: relative;
}


.mv__catchcopy-text {
  display: inline-block;
  /* font-size: 95px; */
  font-size: clamp(2rem, 8vw, 6rem);
  font-style: oblique;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.1;
  margin-top: -25px;
  margin-left: auto;
  /* margin-right: -30px; */
  margin-bottom: 2rem;
  max-width: 100%; 
  overflow: visible; 
  /* position: absolute; */
  right: 0;
  text-align: left;
  top: 0;
  /* transform: translateX(-10%); */
  white-space: nowrap;
  width: 60vw; /* 仮 */
  z-index: 1;
}

@media screen and (max-width: 1335px) {
  .mv__catchcopy-text {
    letter-spacing: 0.149812734082397vw;
    margin-top: -1.8726591760299627vw;
  }
}

.mv__catchcopy-text-sub {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0.5rem;
  overflow: visible;
  position: relative;
  text-align: left;
  z-index: 2;
}

@media screen and (max-width: 1335px) {
  .mv__catchcopy-text-sub {
    font-size: 2.247191011235955vw;
  }
}

.mv__download {

}

.mv__download-link {
  text-decoration: none;
}

.mv__download-btn {
  background-color: #000; /* 仮 */
  border-radius: 20px;
  color: #fff;
  display: flex;
  height: 70px;
  text-align: center;
  transition: all .3s ease;
  vertical-align: middle;
  width: 350px;
}

@media screen and (max-width: 1335px) {
  .mv__download-btn {
    height: 5.2434456928838955vw;
    width: 26.217228464419474vw;
  }
}

.mv__download-btn:hover {
  background-color: #777;
}

.mv__download-btn img {
  height: 33px;
  padding-left: 55px;
  padding-right: 25px;
  padding-top: 19px;
  width: 33px;
}

@media screen and (max-width: 1335px) {
  .mv__download-btn img {
    height: 2.4719101123595504vw;
    padding-left: 4.119850187265917vw;
    padding-right: 1.8726591760299627vw;
    padding-top: 1.4232209737827715vw;
    width: 2.4719101123595504vw;
  }
}

.mv__download-btn p {
  font-size: 19px;
  margin-top: 21px;
}

@media screen and (max-width: 1335px) {
  .mv__download-btn p {
    font-size: 1.4232209737827715vw;
    margin-top: 1.5730337078651686vw;
  }
}






/* スローガンブロック ----------------------------------------------------------- */
.slogan {
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.slogan__content {
  color: #0c6cd3;
  font-size: 32px;
  font-style: italic;
  font-weight: 700;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slogan__content.wipe-in {
  opacity: 1;
  animation: wipeIn 1s ease-out forwards;
}

@keyframes wipeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



@media screen and (max-width: 767px) {
  .slogan__content {
    font-size: 22px;
  }
}

.slogan__content-clause {
  margin: 0 -4px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .slogan__content-clause {
    margin: 0 -2px;
  }
}

/* アプリ紹介 ------------------------------------------------------------------- */
.introduction {

}

.introduction__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 1200px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .introduction__wrapper {
    flex-direction: column;
  }
}

.introduction__content {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.introduction__content-item {
  background-color: #ecece9; /* 仮 */
  border-radius: 10px;
  margin: 10px;
  /* min-height: 300px;
  max-height: 300px; */
  padding: 25px 15px;
  text-align: left;
  width: 250px;
}

@media screen and (max-width: 1400px) {
  .introduction__content-item {
    width: 400px;
    margin: 15px auto;
  }
}

.introduction__content-item-icon {
  background-color: #fff;
  border-radius: 70px;
  height: 140px;
  margin: 0 auto;
  width: 140px;
}

.introduction__content-item-icon img {
  margin-top: 27px;
  margin-left: 26px;
  height: 85px;
  transition: all .3s ease;
  width: 85px;
}

.introduction__content-item-summary {
  color: var(--sub-color1);
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 12px;
  word-break: break-all;
}

.introduction__content-item-detail {
  color: var(--sub-color2);
  font-weight: 400;
  font-size: 17px;
}

/* プランブロック --------------------------------------------------------------- */
.plan__about {
  margin: 0 auto;
  text-align: center;
}

.plan__about-table {
  display: flex;
  /* margin: 0 auto; */
  /* margin-left: auto;
  margin-right: auto; */
  /* max-width: 900px; */
  /* display: inline-block; */
  width: auto;
}

.plan__about-table-column {
  display: inline-block;
  flex-direction: column;
}

.plan__about-table-column:first-of-type /* 項目列 */{
  margin-left: auto;
}

.plan__about-table-column:nth-of-type(2) /* 有料プラン列 */{
  /* margin-left: auto; */
}

.plan__about-table-column:last-of-type /* 無料プラン列 */{
  margin-right: auto;
}

.plan__about-table-column-data {
  background-color: #ddd; /* 仮 */
  font-size: 20px;
  font-weight: 500;
  line-height: 80px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-data {
    font-size: 14px;
    line-height: 20px;
    width: 70px;
  }
}

.plan__about-table-column-data p {
  padding-top: 10px;
}



/* プラン別のスタイル */
.plan__about-table-column-head-paid,  
.plan__about-table-column-data-paid /* 有料 */ {
  border-color: black;
  border-width: 1px;
  color: #f70;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
  width: 220px;
}

.plan__about-table-column-head-free,
.plan__about-table-column-data-free /* 無料 */ {
  /* background-color: #e8e8e8; */
  color: #888;
  font-size: 32px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head-paid, /* 有料・無料両方 */
  .plan__about-table-column-data-paid,
  .plan__about-table-column-head-free,
  .plan__about-table-column-data-free {
    font-size: 24px;
    width: 70px;
  }
}

/* 表位置別 */
.plan__about-table-column-head ,
.plan__about-table-column-head-paid ,
.plan__about-table-column-head-free /* head */{
  height: 100px;
  padding-top: 30px;
  width: 220px;
}

.plan__about-table-column-head-paid p,
.plan__about-table-column-head-free p { /* 仮 */ 
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head,
  .plan__about-table-column-head-paid,
  .plan__about-table-column-head-free /* head */{
    line-height: 20px;
    height: 170px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    text-align: center;
    width: 50px;
    writing-mode: vertical-rl;
  }
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head-paid p,
  .plan__about-table-column-head-free p {
    font-size: 24px;
    justify-content: center;
    height: 100%;
    position: relative;
    top: 0%;
    right: 14px;
    text-align: center;
    width: 100%;
  }
}

.plan__about-table-column-head {
  background-color: #999;
}

.plan__about-table-column-head-paid {
  color: #fff;
  background-color:#f70;
}

.plan__about-table-column-head-paid span img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.plan__about-table-column-head-free {
  background-color: #2280c6;
  color: #fff;
}



/* .plan__about-table-column-head span,
.plan__about-table-column-head-paid span,
.plan__about-table-column-head-free spanhead{
  line-height: 70px;
}

.plan__about-table-column-head-clause {
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  「プラン」の文字のみ
  .plan__about-table-column div span .plan__about-table-column-head-clause:nth-of-type(2) {
    font-size: 20px;
  }
} */


.plan__about-table-column-data ,
.plan__about-table-column-data-paid,
.plan__about-table-column-data-free /* セル */{
  height: 80px;
  line-height: 50px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-head,
  .plan__about-table-column-data {
    width: 200px;
  }

  .plan__about-table-column-data-paid,
  .plan__about-table-column-data-free /* セル */{
    width: 50px;
  }

  .plan__about-table-column-data-free:nth-of-type(5) {
    margin-bottom: -5px;
  }
}



.plan__about-table-column-data-img { /* 表内の「〇」「×」画像 */
  height: 27px;
  margin: 0 auto;
  margin-top: 25px;
  width: 27px;
}

@media screen and (max-width: 767px) {
  .plan__about-table-column-data-img {
    height: 18px;
    width: 18px;
  }
}




/* Usage ----------------------------------------------------------------------- */
.usage {

}

.usage__unit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.usage__unit:nth-of-type(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .usage__unit {
    margin: 0 auto;
    display: inline;
  }
}

.usage__unit-img {
  background-size: cover;
  border-radius: 30px;
  height: 350px;
  width: 350px;
}

@media screen and (max-width: 767px) {
  .usage__unit-img {
    height: 400px;
    margin: 0 auto;
    width: calc(100% - 50px);
  }
}

.usage__unit:first-of-type .usage__unit-img {
  background-image: url(img/usage1.jpg);
  background-position: 65% 80%;
}

.usage__unit:last-of-type .usage__unit-img {
  background-image: url(img/usage2.jpg);
  background-position: 40% 38%;
}

.usage__unit-content {
  width: 400px;
}

@media screen and (max-width: 767px) {

}


.usage__unit-content-text {
  font-size: 24px;
}

/* レビュー --------------------------------------------------------------------- */
.review {
  background-color: var(--sub-color1);
  color: var(--sub-color3);
  /* padding-bottom: 120px; */
  margin-top: -5px;
  margin-bottom: -20px;
  padding-top: 4rem;
  position: relative;
  overflow: visible;
}

.review:before {
  content: "";
  position: absolute;
  top: -5vw;
  left: 0;
  width: 100%;
  height: 10vw;
  background: white;
  transform: skewY(5deg);
}

.review__title {
  font-size: 42px;
  text-align: center;
  }

@media screen and (max-width: 767px) {
  .review__title {
    font-size: 28px;
  }
}

.review__icon {
  height: 40px;
  margin: 0 20px -5px;
  width: 40px;
}

@media screen and (max-width: 767px) {
  .review__icon {
    height: 30px;
    margin: 0 20px -5px;
    width: 30px;
  }
}

.review__container {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .review__container {
    flex-direction: column;
  }
}

.review__unit {
  background-color: #fff;
  border: 2px solid var(--sub-color2);
  border-bottom-right-radius: 30px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 15px 7px;
  padding: 15px;
  width: 45%; /* 仮 */
}

.review__unit:first-of-type {
  margin-left: auto;
}

.review__unit:last-of-type {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .review__unit {
    display: block;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 60px);
  }

  .review__unit:first-of-type {
    margin-left: 15px;
  }

  .review__unit:last-of-type {
    margin-right: 15px;
  }
}

.review__unit-wrapper { /* 横並び */
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

@media screen and (max-width: 767px) { /* レスポンシブ時は縦並び */
  .review__unit-wrapper {
    /* flex-direction: column;
    padding-left: 0; */
  }
}

.review__unit-icon {
  background-size: 150%;
  background-repeat: no-repeat;
  border-radius: 90px;
  float: left;
  height: 150px;
  margin-right: 20px;
  min-height: 150px;
  min-width: 150px;
  transition: all 0.5s ease;
  width: 150px;
}

.review__unit:nth-of-type(1) .review__unit-icon { /* レビュー１のアイコン */
  background-image: url(img/review1.jpg);
  background-position: 40% 15%;
  background-size: 230%;
}

.review__unit:nth-of-type(2) .review__unit-icon { /* レビュー２のアイコン */
  background-image: url(img/review2.jpg);
  background-position: 15% 18%;
  background-size: 260%;
}

.review__unit:hover .review__unit-wrapper .review__unit-icon {
  /* background-size: 170%; */
}

/* @media screen and (max-width: 767px) {
  .review__unit-icon {
    mr  
  }
} */

.review__unit-attribute {
  display: flex;
  flex-direction: column;
}

.review__unit-attribute-text {
  color: #8f8f8f;
  text-align: left;
}

.review__unit-attribute-phrase {
  color: #e48900;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .review__unit-attribute-phrase {
    font-size: 3.3805736636245vw; /* 18 */
  }
}

@media screen and (max-width: 420px) {
  .review__unit-attribute-phrase {
    font-size: 4.285714285714286vw;;
  }
}

.review__unit-attribute-phrase span {
  white-space: nowrap; /* 改行禁止 */
}

.review__unit-content-text-pc {
  color: var(--sub-color1);
  font-size: 18px;
  margin-top: 8px;
  text-align: left;
}

@media screen and (max-width: 950px) {
  .review__unit-content-text-pc {
    display: none;
  }
}

.review__unit-content-text {
  color: var(--sub-color1);
  font-size: 18px;
  text-align: left;
  word-break: break-all;
}

@media screen and (min-width: 951px) {
  .review__unit-content-text {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .review__unit-content-text {
    font-size: 2.446805736636245vw; /* 16 */
  }
}

@media screen and (max-width: 420px) {
  .review__unit-content-text {
    font-size: 3.8095238095238098vw; /* 16 */
  }
}

/* Q&A ------------------------------------------------------------------------- */
.qanda /* Q&Aブロック */{
  
}

.qanda__title {
  text-align: center;

}

.qanda__title:before {
  
}

.qanda__icon {
  height: 40px;
  margin: 0 20px -5px;
  position: relative;
  top: 6px;
  width: 40px;
}

.qanda__unit /* 質問と解答一組 */{
  margin-top: 35px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

@media screen and (max-width: 880px) {
  .qanda__unit {
    width: calc(100% - 80px);
  }
}



.qanda__unit.active {
  
}

.qanda__unit-question { /* Q&A 質問エリア */
  background-color: #e0f4ff; /* 仮 */
  border-radius: 15px;
  margin-top: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  width: 100%;
}

.qanda__unit-question::before {
  content: '';
  position: absolute;
  left: -19px;
  top: 10px;
  border: 10px solid transparent;
  border-right-color: #e0f4ff;
}

.qanda__unit-question-content /* 質問の内容 */{
  border-radius: 50px;
  line-height: 1.5;
  /* margin: 0; */
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 17px;
  padding-bottom: 1px;
  text-align: left;
  vertical-align: middle;
  /* width: calc(100% - 75px); */
}

.qanda__unit-question-content p {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
  line-height: none;
  word-wrap: break-word;
}

@media screen and (max-width: 767px) {
  .qanda__unit-question-content p {
    font-size: 16px;
  }
}

.qanda__unit-answer { /* Q&A 解答エリア */
  background-color: #dfe7f3; /* 仮 */
  border-radius: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  position: relative;
  width: 100%;
}

.qanda__unit-answer::before {
  content: '';
  position: absolute;
  right: -19px;
  transform: rotate(180deg);
  top: 10px;
  border: 10px solid transparent;
  border-right-color: #dfe7f3;
}

@media screen and (max-width: 767px) {
  .qanda__unit-answer::before {
    right: initial;
    left: -19px;
    transform: initial;
  }
}

.qanda__unit-answer-content {
  margin-left: 17px;
  margin-right: 40px;
}


.qanda__unit-answer-content p {
  font-size: 18px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .qanda__unit-answer-content p {
    font-size: 16px;
  }
}

/* 事前登録ブロック -------------------------------------------------------------- */
.pre-registration /* ブロック全体 */ {
  background-color: var(--sub-color1);
  color: var(--sub-color3);
  margin-top: -5px;
  text-align: center;
}

.pre-registration__form /* 事前登録フォーム全体 */ {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.pre-registration__form-row {
  display: flex;
  height: 50px;
  margin: 12px 0;
  width: 100%;
}

.pre-registration__form-row-icon { /* アイコン表示領域 */
  background-color: #fff;
  border-radius: 100%;
  height: 55px;
  margin-left: auto;
  max-height: 55px;
  max-width: 55px;
  min-height: 55px;
  min-width: 55px;
  width: 55px;
}

.pre-registration__form-row-icon-img { /* アイコン表示位置 */
  height: 30px;
  margin: 0 auto;
  max-height: 30px;
  max-width: 30px;
  padding-top: 12px;
  width: 30px;
}



.pre-registration__form-row-input { /* 事前登録フォーム入力欄 */
  border-radius: 30px;
  font-size: 20px;
  height: 50px;
  margin-left: 8px;
  margin-right: auto;
  /* min-width: 700px; */
  padding-left: 20px;
  width: 1000px;
}





.pre-registration__mail /* メールアドレス入力欄 */{
  border: 2px solid var(--sub-color1);
  /* padding-left: 10px;
  padding-right: 10px; */
  /* width: calc(100% - 40px); */
}

@media screen and (max-width: 767px) {
  .pre-registration__mail {
    font-size: 21px;
  }
}


.pre-registration__submit /* 事前登録ボタン */{
  background-color: var(--sub-color1);
  border-color: var(--sub-color3);
  border-radius: 10px;
  color: var(--sub-color3);
  cursor: pointer;
  font-weight: 700;
  /* height: if(
    media(width >= 767px): 40px;
    else; 50px
  ); */
  /* height: 50px; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 10px;
  opacity: 1.0;
  transition: all 0.3s ease;
  width: 200px;
}

@media screen and (max-width: 767px) {
  .pre-registration__submit {
    height: 40px;
    width: 130px;
  }
}

.pre-registration__submit:hover {
  background-color: var(--sub-color3);
  color: var(--sub-color1);
}

/* フッター --------------------------------------------------------------------- */
footer {
  margin-top: -3px;
  background-color: var(--sub-color2);
  color: var(--sub-color3);
  text-align: center;
}

.footer__container {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 766px) {
  .footer__container {
    display: inline;
  }
}

/* .footer__appli-name {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: italic;
} */

.footer__symbol-img {
  height: 160px;
  margin-left: auto;
  text-align: center;
  width: auto;
}

@media screen and (max-width: 767px) {
  .footer__symbol-img {
    height: 140px;
    width: auto;
  }
}

.footer__wrapper {
  margin-left: 20px;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer__wrapper {
    margin-left: auto;
  }
}

.footer__company-about {
  text-align: left;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer__company-about {
    text-align: center;
  }
}

.footer__company-about-name {
  font-size: 30px;
  margin: 3px 0;
}

.footer__company-about-address-clause {
  white-space: nowrap;
}

.footer__sns /* SNSブロック */{
  display: flex;
  margin: 0 auto;
  /* text-align: center; */
}

@media screen and (max-width: 767px)  {
  .footer__sns /* SNSブロック */ {
    justify-content: center;
    gap: 8px;
  }
}

.footer__sns-link /* 各SNSリンク */ {
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}

.footer__sns-link:hover /* 各SNSリンクhover時 */ {
  opacity: 0.5;
}

.footer__sns-link:last-of-type /* 一番右のSNSアイコン */ {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .footer__sns-link:first-of-type /* 一番左のSNSアイコン */ {
    margin-left: auto;
  }
}

.footer__sns-link-img /* SNSアイコンの画像 */ {
  height: 40px;
  margin: 0 10px;
  transition: all 0.3s ease;
  width: 40px;
}

.footer__sns-link:first-of-type .footer__sns-link-img
/* 一番左のSNSアイコンには左marginを適用しない */ {
  margin-left: 0;
}

.footer__sns-link:hover .footer__sns-link-img /* SNSアイコンhover時 */ {
  transform: scale(1.2);
}



@media screen and (max-width: 767px) {
  .footer__sns-link-img {
    height: 25px;
    width: 25px;
  }

  /* .footer__sns-link-img:first-of-type {
    margin-left: auto;
  }

  .footer__sns-link-img:last-of-type {
    margin-right: auto;
  } */
}


.footer__menu-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.footer__menu-item {
  /* border-right: 1px solid var(--sub-color3); */
  color: var(--sub-color3);
  font-size: 14px;
  list-style: none;
  padding: 0 10px;
  position: relative;
}

.footer__menu-item a {
  display: block;
  color: var(--sub-color3);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer__menu-item a:hover {
  opacity: 0.5;
}

.footer__menu-item + .footer__menu-item::before { /* メニュー項目の区切り線 */
  content: '';
  position:absolute;
  left: 0;
  top: 25%;
  width: 1px;
  height: 50%;
  background-color: var(--sub-color3);
  /* margin: 0 8px; */
}

.footer__menu-item:last-child:after {
  display: none;
}

.footer__menu-item:last-child {
  border-right: none;
}




